# NEVER DO ANY CHANGES IN THIS FILE BEFORE ASKING YOUR HUMAN BEFORE.

openapi: 3.1.0
servers:
  - url: https://backend.dm.teamofsilicons.com
info: {title: DM API, version: 0.9.0}
security:
  - bearerAuth: []
tags:
  - {name: Realtime, description: Authenticated WebSocket sessions and durable member streams}
  - {name: Conversations, description: Exact-participant-set conversations}
  - {name: Groups, description: Named organization groups with invitations and dynamic IAM tag access}
  - {name: Messages, description: 'Durable content, receipts, and attachment access'}
  - {name: Bundles, description: Non-destructive Silicon message bundles}
  - {name: Drafts, description: Private cross-device draft synchronization}
  - {name: Presence, description: Authorized availability and transient activity}
  - {name: GIFs, description: Safe Giphy discovery and recent history}
  - {name: Auth, description: IAM application-session exchange and maintenance}
  - {name: Testing, description: Honeycomb owns shared test lifecycle; legacy controls require production IAM authority}
  - {name: IAM webhooks, description: 'Signed IAM callbacks, outside the /api/v1 base path'}
  - {name: Operations, description: Deployment health probes}
paths:
  /api/v1/conversations:
    get:
      summary: List accessible DMs and groups in one organization, newest activity first.
      security:
        - bearerAuth: []
      parameters:
        - name: X-Org-ID
          in: header
          required: true
          schema: {type: string}
          example: acme
        - name: X-Testing-Environment-Key
          in: header
          schema: {type: string}
          description: Optional testing key; omit for production.
        - name: limit
          in: query
          schema: {type: integer, minimum: 1, maximum: 100, default: 50}
        - name: cursor
          in: query
          schema: {type: string}
          description: Previous next_cursor; omit for the first page.
      responses:
        '200':
          description: Conversations; an empty list is also a successful response.
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {type: string, const: conversations}
                  data:
                    type: object
                    required: [items, next_cursor]
                    properties:
                      items:
                        type: array
                        items: {$ref: '#/components/schemas/ConversationSummary'}
                      next_cursor:
                        type: [string, 'null']
                        description: Continuation token; null on the last page.
              examples:
                group:
                  summary: A group conversation.
                  value:
                    type: conversations
                    data:
                      items:
                        - id: g:acme:engineering
                          org_id: acme
                          participants:
                            - {type: carbon, id: alice@example.com}
                            - {type: carbon, id: bob@example.com}
                          group:
                            name: Engineering
                            description: Engineering discussions
                            tag_ids: []
                          last_message:
                            message-id: 00a
                            conversation_id: g:acme:engineering
                            recipient_id: g:acme:engineering
                            sender: {type: carbon, id: alice@example.com}
                            message: Can you review this?
                            attachments: []
                            voice_transcript: null
                            reply: null
                            bundle: null
                            created_at: '2026-09-17T10:00:00Z'
                            updated_at: null
                            deleted_at: null
                            delivered_at: '2026-09-17T10:00:02Z'
                            read_at: null
                            history: []
                          last_message_status: delivered
                          created_at: '2026-09-17T08:00:00Z'
                          updated_at: '2026-09-17T10:00:00Z'
                      next_cursor: null
                normal_chat:
                  summary: A normal DM; no group field.
                  value:
                    type: conversations
                    data:
                      items:
                        - id: alice@example.com::bob@example.com
                          org_id: acme
                          participants:
                            - {type: carbon, id: alice@example.com}
                            - {type: carbon, id: bob@example.com}
                          last_message:
                            message-id: 00a
                            conversation_id: alice@example.com::bob@example.com
                            recipient_id: bob@example.com
                            sender: {type: carbon, id: alice@example.com}
                            message: Can you review this?
                            attachments: []
                            voice_transcript: null
                            reply: null
                            bundle: null
                            created_at: '2026-09-17T10:00:00Z'
                            updated_at: null
                            deleted_at: null
                            delivered_at: '2026-09-17T10:00:02Z'
                            read_at: null
                            history: []
                          last_message_status: delivered
                          created_at: '2026-09-17T08:00:00Z'
                          updated_at: '2026-09-17T10:00:00Z'
                      next_cursor: null
                empty:
                  summary: No chats or groups.
                  value:
                    type: conversations
                    data:
                      items: []
                      next_cursor: null
      tags: [Conversations]
    post:
      summary: Create an empty conversation or return the existing conversation for the same participants.
      description: 'The caller is included automatically. Duplicate IDs are collapsed; 2–100 unique

        participants including the caller are required. Everyone must have verifiable

        active membership in the selected organization. Offline members are allowed.

        A conversation is shared: a member not having opened it does not create a new copy.

        An existing conversation keeps its ID, history, and activity timestamps.

        A different participant set creates a different conversation, not an invitation

        into an existing one. No message is sent. This does not create a named group.'
      security:
        - bearerAuth: []
      parameters:
        - name: X-Org-ID
          in: header
          required: true
          schema: {type: string}
          example: acme
        - name: Idempotency-Key
          in: header
          required: true
          description: Reuse for retries of the same request; different participants require a new key.
          schema: {type: string, minLength: 8, maxLength: 255, pattern: '^[!-~]{8,255}$'}
          example: create-alice-bob-001
        - name: X-Testing-Environment-Key
          in: header
          schema: {type: string}
          description: Optional testing key; omit for production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              additionalProperties: false
              properties:
                type: {type: string, const: create_conversation}
                data:
                  type: object
                  required: [participant_ids]
                  additionalProperties: false
                  properties:
                    participant_ids:
                      type: array
                      minItems: 1
                      description: IAM account IDs; at least one must be someone other than the caller. Maximum 100 unique participants after including
                        the caller.
                      items: {type: string, minLength: 1, maxLength: 255}
            examples:
              normal_chat:
                summary: Alice creates or retrieves her conversation with Bob.
                value:
                  type: create_conversation
                  data:
                    participant_ids: [bob@example.com]
              multiple_members:
                summary: Alice creates or retrieves a conversation with Bob and an agent.
                value:
                  type: create_conversation
                  data:
                    participant_ids: [bob@example.com, 'si:assistant']
              unknown_member:
                summary: If one requested member cannot be verified, the entire request fails with 422.
                value:
                  type: create_conversation
                  data:
                    participant_ids: [bob@example.com, missing@example.com]
      responses:
        '201':
          description: New or existing conversation. The current API uses 201 for both, including retries; there is no separate created flag.
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {type: string, const: create_conversation}
                  data: {$ref: '#/components/schemas/ConversationSummary'}
              examples:
                created:
                  summary: No conversation exists for Alice and Bob; create one accessible to both.
                  value:
                    type: create_conversation
                    data:
                      id: alice@example.com::bob@example.com
                      org_id: acme
                      participants:
                        - {type: carbon, id: alice@example.com}
                        - {type: carbon, id: bob@example.com}
                      last_message: null
                      last_message_status: null
                      created_at: '2026-09-17T10:00:00Z'
                      updated_at: '2026-09-17T10:00:00Z'
                already_exists:
                  summary: Return an existing empty conversation, even if Bob has never opened it; preserve its timestamps.
                  value:
                    type: create_conversation
                    data:
                      id: alice@example.com::bob@example.com
                      org_id: acme
                      participants:
                        - {type: carbon, id: alice@example.com}
                        - {type: carbon, id: bob@example.com}
                      last_message: null
                      last_message_status: null
                      created_at: '2026-09-16T08:00:00Z'
                      updated_at: '2026-09-16T08:00:00Z'
        '401':
          description: Missing, invalid, or expired authentication; authenticate again.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
              example:
                type: error
                data:
                  error: {code: unauthorized, message: authentication required}
        '403':
          description: Authenticated caller lacks authority or the organization does not match; no conversation is created.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
              example:
                type: error
                data:
                  error: {code: forbidden, message: operation is not permitted}
        '409':
          description: Conflicting idempotency-key reuse or an in-progress retry. Correct the request/key, or retry the identical pending request later.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
              examples:
                reused_key:
                  value:
                    type: error
                    data:
                      error: {code: conflict, message: idempotency key was already used with different request content}
                in_progress:
                  value:
                    type: error
                    data:
                      error: {code: conflict, message: idempotent request is still in progress}
        '422':
          description: Invalid input/required headers, or any requested member is unknown, inactive, outside this organization, or not yet disclosed to
            DM. No partial conversation is created. This does not prove an account does not exist in IAM.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
              examples:
                unverified_member:
                  summary: A requested member has no verifiable active organization membership in DM.
                  value:
                    type: error
                    data:
                      error: {code: validation_error, message: IAM has not supplied an active membership for this participant to DM; the recipient can sign
                          in to refresh their membership}
                empty_participants:
                  value:
                    type: error
                    data:
                      error: {code: validation_error, message: participant_ids must contain at least one member}
                only_self:
                  value:
                    type: error
                    data:
                      error: {code: validation_error, message: a conversation requires at least two unique participants}
                too_many_participants:
                  value:
                    type: error
                    data:
                      error: {code: validation_error, message: a conversation may contain at most 100 unique participants}
        '500':
          description: Internal failure; outcome may be uncertain. Retry with the same idempotency key.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
              example:
                type: error
                data:
                  error: {code: internal_error, message: internal server error}
        '503':
          description: IAM is unavailable; retry with the same idempotency key once available.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
              example:
                type: error
                data:
                  error: {code: dependency_unavailable, message: dependency iam is unavailable}
      tags: [Conversations]
  /internal/honeycomb/organizations/{org_id}/testing-environments/{environment_id}/operations/{operation_id}:
    parameters:
      - name: org_id
        in: path
        required: true
        schema: {type: string}
      - name: environment_id
        in: path
        required: true
        schema: {type: string, format: uuid}
      - name: operation_id
        in: path
        required: true
        schema: {type: string, format: uuid}
    put:
      tags: [Testing]
      operationId: applyHoneycombLifecycle
      summary: Apply a protected Honeycomb lifecycle instruction
      description: Plain coordinator JSON, without the public DM envelope. Retry the identical instruction and operation ID. Completion follows test database
        cleanup; failures remain fenced.
      security:
        - honeycombService: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/HoneycombOperation'}
      responses:
        '200':
          description: Exact completed receipt or replay
          content:
            application/json:
              schema: {$ref: '#/components/schemas/HoneycombReceipt'}
        '400': {description: Invalid instruction or path/body mismatch}
        '401': {description: Missing or invalid service credential}
        '409': {description: 'Stale revision, conflicting retry, or incompatible transition'}
        '500': {description: Failed operation; inspect receipt and retry identical instruction}
    get:
      tags: [Testing]
      operationId: getHoneycombLifecycleReceipt
      summary: Recover a pending, completed or failed lifecycle receipt
      security:
        - honeycombService: []
      responses:
        '200':
          description: Secret-free durable receipt
          content:
            application/json:
              schema: {$ref: '#/components/schemas/HoneycombReceipt'}
        '401': {description: Missing or invalid service credential}
        '404': {description: Unknown operation for the requested organization}
  /api/v1/groups:
    post:
      tags: [Groups]
      operationId: createGroup
      summary: Create a group as an organization administrator or owner
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      responses:
        '201':
          description: Successful group operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: create_group}
                  data: {$ref: '#/components/schemas/Conversation'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: create_group}
                data: {$ref: '#/components/schemas/GroupCreate'}
      description: Creator is invited automatically. Groups have stable conversation UUIDs and full prior message history for new members. Private groups
        admit invited members or members with any matching current IAM tag. Public groups automatically admit organization Carbons; Silicons always require
        an explicit invitation. Only org_admin/org_owner (and canonical IAM admin/owner aliases) may create, update, invite or remove invitations. Group
        administration does not itself grant history access.
  /api/v1/groups/{group_id}:
    get:
      tags: [Groups]
      operationId: getGroup
      summary: Read group settings, active participants and latest message
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - name: group_id
          in: path
          required: true
          schema: {$ref: '#/components/schemas/ConversationAddress'}
      responses:
        '200':
          description: Successful group operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: group}
                  data: {$ref: '#/components/schemas/Conversation'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
    patch:
      tags: [Groups]
      operationId: updateGroup
      summary: Replace group settings with an exact current version
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - name: group_id
          in: path
          required: true
          schema: {$ref: '#/components/schemas/ConversationAddress'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - name: If-Match
          in: header
          required: true
          schema: {type: integer, minimum: 1}
      responses:
        '200':
          description: Successful group operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: update_group}
                  data: {$ref: '#/components/schemas/GroupDetails'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: update_group}
                data: {$ref: '#/components/schemas/GroupSettings'}
  /api/v1/groups/{group_id}/members:
    post:
      tags: [Groups]
      operationId: inviteGroupMembers
      summary: Add explicit invitations as an organization administrator or owner
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - name: group_id
          in: path
          required: true
          schema: {$ref: '#/components/schemas/ConversationAddress'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      responses:
        '200':
          description: Successful group operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: invite_group_members}
                  data: {$ref: '#/components/schemas/GroupDetails'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: invite_group_members}
                data: {$ref: '#/components/schemas/GroupMembers'}
    delete:
      tags: [Groups]
      operationId: removeGroupMembers
      summary: Remove explicit invitations; tag and public grants remain independent
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - name: group_id
          in: path
          required: true
          schema: {$ref: '#/components/schemas/ConversationAddress'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      responses:
        '200':
          description: Successful group operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: remove_group_members}
                  data: {$ref: '#/components/schemas/GroupDetails'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: remove_group_members}
                data: {$ref: '#/components/schemas/GroupMembers'}
  /api/v1/contracts:
    get:
      tags: [Operations]
      operationId: discoverContracts
      summary: Discover contract lifecycle and compatibility
      security: []
      parameters:
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Contract versions and compatibility matrix for the selected plane
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {type: string, const: contracts}
                  data: {type: object, additionalProperties: true}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/ws/shared:
    get:
      tags: [Realtime]
      operationId: prewarmSharedConnection
      summary: Prewarm one socket for independently authenticated subscriptions
      security: []
      description: 'Open one shared transport, then send one subscribe frame per account/profile, each with its own token, organization_id, member_id, device_id,
        and optional testing credentials. Send multiple subscribe frames to add multiple independent inputs; no query array is needed.

        connection.prewarmed is not authentication. Each accepted subscription receives channel → subscribe.success; rejected subscriptions receive channel
        → subscribe.error.

        Up to 64 active subscriptions. subscription_id must be unique on the socket; unsubscribe removes just that subscription.

        Every inner command/event is wrapped in channel with subscription_id and frame. Shared transport protocol is 2; inner protocol is 5.

        Outer ping / ping.success and each subscription''s inner ping / ping.success must both be answered. Malformed outer frames, duplicate subscriptions,
        unknown channels, or overflowing channels can close the whole socket.

        See the WebSocket events catalogue in the local Swagger preview for two subscriptions and the exact wrappers.


        subscribe returns channel → subscribe.success or subscribe.error. unsubscribe returns an outer unsubscribe.success or unsubscribe.error. subscription.closed
        is an unsolicited channel closure notice.


        Commands use <command>, <command>.success and <command>.error. A response never needs another success response. channel is only an envelope. connection.ready,
        connection.prewarmed, subscription.closed and message.created/updated/deleted/delivered/read/failed are unsolicited notifications, not command replies.
        Only delivery events carrying data.metadata need delivery ACKs.'
      parameters:
        - in: header
          name: X-DM-Protocol-Version
          schema:
            type: integer
            enum: [2]
      responses:
        '101': {description: Transport connection.prewarmed; authenticate each subscription before accessing data}
        '406': {$ref: '#/components/responses/Error'}
        '410': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
      x-websocket:
        clientFrames: {$ref: '#/components/schemas/SharedClientSocketFrame'}
        serverFrames: {$ref: '#/components/schemas/SharedServerSocketFrame'}
        events:
          - name: connection.prewarmed
            direction: server → client
            schema: {$ref: '#/components/schemas/PrewarmedFrame'}
            description: Transport is open; no account is authorized yet.
            example:
              type: connection.prewarmed
              data: {protocol_version: 2, max_subscriptions: 64}
          - name: 'subscribe: first account'
            direction: client → server
            schema: {$ref: '#/components/schemas/SubscribeFrame'}
            description: Authenticate the first profile.
            example:
              type: subscribe
              data: {subscription_id: alice-acme, token: <alice-access-token>, organization_id: acme, member_id: alice@example.com, device_id: laptop-browser-1}
          - name: 'subscribe: second account'
            direction: client → server
            schema: {$ref: '#/components/schemas/SubscribeFrame'}
            description: Send another subscribe on the same socket; independent credentials and organization.
            example:
              type: subscribe
              data: {subscription_id: bob-studio, token: <bob-access-token>, organization_id: studio, member_id: bob@example.com, device_id: bob-phone-1}
          - name: 'channel: subscribe.success'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: Only this subscription is now ready. Other profiles authenticate independently.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: subscribe.success
                  data:
                    protocol_version: 5
                    testing_generation: null
                    connection_id: 11111111-1111-4111-8111-111111111111
                    members: [alice@example.com]
                    acknowledged_through: {alice@example.com: 41}
          - name: 'channel: message.create'
            direction: client → server
            schema: {$ref: '#/components/schemas/SharedClientChannelFrame'}
            description: Wrap any standalone client command for the selected subscription.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: message.create
                  data:
                    member_id: alice@example.com
                    org_id: acme
                    conversation_id: alice@example.com::bob@example.com
                    idempotency_key: send-alice-bob-001
                    message: Can you review this?
                    attachments: []
          - name: 'channel: message.created'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: Wrap any standalone server event, including its data.metadata. This example is the sender’s own delivery copy.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: message.created
                  data:
                    message-id: 00a
                    conversation_id: alice@example.com::bob@example.com
                    recipient_id: alice@example.com
                    sender: {type: carbon, id: alice@example.com}
                    message: Can you review this?
                    attachments: []
                    voice_transcript: null
                    reply: null
                    bundle: null
                    created_at: '2026-09-17T10:00:00Z'
                    updated_at: null
                    deleted_at: null
                    delivered_at: null
                    read_at: null
                    metadata: {source: dm, delivery_id: 22222222-2222-4222-8222-000000000001, delivery_sequence: 42}
                    history: []
          - name: 'ping: outer transport'
            direction: server → client
            schema: {$ref: '#/components/schemas/PingFrame'}
            description: Outer heartbeat; answer outside channel.
            example:
              type: ping
              data: {ping_id: outer-ping-1}
          - name: 'ping.success: outer transport'
            direction: client → server
            schema: {$ref: '#/components/schemas/PongFrame'}
            description: Answer the shared transport heartbeat.
            example:
              type: ping.success
              data: {ping_id: outer-ping-1}
          - name: 'channel: ping'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: Subscription heartbeat; it is independent of the outer heartbeat.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: ping
                  data: {ping_id: inner-ping-1}
          - name: 'channel: ping.success'
            direction: client → server
            schema: {$ref: '#/components/schemas/SharedClientChannelFrame'}
            description: Answer using the same subscription_id.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: ping.success
                  data: {ping_id: inner-ping-1}
          - name: unsubscribe
            direction: client → server
            schema: {$ref: '#/components/schemas/UnsubscribeFrame'}
            description: Remove only this subscription; returns outer unsubscribe.success or unsubscribe.error. Other subscriptions stay active.
            example:
              type: unsubscribe
              data: {subscription_id: alice-acme}
          - name: 'channel: subscribe.error'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: Authentication/selection failed or timed out. Other subscriptions can remain active.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: subscribe.error
                  data: {code: subscription_rejected, message: Refresh the profile or select a valid sandbox., recoverable: false}
          - name: 'channel: subscription.closed'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: The inner session closed; its close reason is not forwarded by this implementation.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: subscription.closed
                  data: {code: subscription_closed, recoverable: false}
          - name: 'channel: bundle'
            direction: client → server
            schema: {$ref: '#/components/schemas/SharedClientChannelFrame'}
            description: After subscribing assistant-work as si:assistant in acme. Create a bundle atomically using the HTTP bundle rules. 1–100 unique
              existing messages from the same conversation, none already bundled; caller supplies display content. Reuse the idempotency key and identical
              content after timeout or reconnect. Same key and content returns the same bundle; changed content conflicts. No partial bundle or display
              message on failure.
            example:
              type: channel
              data:
                subscription_id: assistant-work
                frame:
                  type: bundle
                  data:
                    member_id: si:assistant
                    org_id: acme
                    conversation_id: g:acme:engineering
                    idempotency_key: bundle-engineering-001
                    message_ids: ['001', '002', '003']
                    display_message:
                      message: 'Summary: We agreed to ship on Friday.'
                      attachments: []
          - name: 'channel: bundle.success'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: After subscribing assistant-work as si:assistant in acme. Durable creation confirmation, also returned for an identical retry.
              Correlate by member_id, conversation_id and idempotency_key. No delivery ACK for this frame; the display message is delivered separately as
              message.created with data.metadata.
            example:
              type: channel
              data:
                subscription_id: assistant-work
                frame:
                  type: bundle.success
                  data:
                    id: '001'
                    conversation_id: g:acme:engineering
                    original_message_ids: ['001', '002', '003']
                    display_message:
                      message-id: '004'
                      conversation_id: g:acme:engineering
                      recipient_id: g:acme:engineering
                      sender: {type: silicon, id: 'si:assistant'}
                      message: 'Summary: We agreed to ship on Friday.'
                      attachments: []
                      voice_transcript: null
                      reply: null
                      bundle: {id: '001', role: display}
                      created_at: '2026-09-17T10:00:00Z'
                      updated_at: null
                      deleted_at: null
                      delivered_at: null
                      read_at: null
                      history: []
                    created_by: {type: silicon, id: 'si:assistant'}
                    created_at: '2026-09-17T10:00:00Z'
                    member_id: si:assistant
                    idempotency_key: bundle-engineering-001
          - name: 'channel: bundle.success: identical retry'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: After subscribing assistant-work as si:assistant in acme. Resend the identical bundle request with the same idempotency_key.
              Returns the original bundle and display message IDs without creating duplicates.
            example:
              type: channel
              data:
                subscription_id: assistant-work
                frame:
                  type: bundle.success
                  data:
                    id: '001'
                    conversation_id: g:acme:engineering
                    original_message_ids: ['001', '002', '003']
                    display_message:
                      message-id: '004'
                      conversation_id: g:acme:engineering
                      recipient_id: g:acme:engineering
                      sender: {type: silicon, id: 'si:assistant'}
                      message: 'Summary: We agreed to ship on Friday.'
                      attachments: []
                      voice_transcript: null
                      reply: null
                      bundle: {id: '001', role: display}
                      created_at: '2026-09-17T10:00:00Z'
                      updated_at: null
                      deleted_at: null
                      delivered_at: null
                      read_at: null
                      history: []
                    created_by: {type: silicon, id: 'si:assistant'}
                    created_at: '2026-09-17T10:00:00Z'
                    member_id: si:assistant
                    idempotency_key: bundle-engineering-001
          - name: 'channel: bundle.error: invalid input'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: After subscribing assistant-work as si:assistant in acme. Reject invalid content, duplicate IDs, or a count outside 1–100. No
              partial changes; socket remains open.
            example:
              type: channel
              data:
                subscription_id: assistant-work
                frame:
                  type: bundle.error
                  data:
                    code: invalid_request
                    message: bundle message_ids must be unique
                    recoverable: true
                    member_id: si:assistant
                    conversation_id: g:acme:engineering
                    idempotency_key: bundle-engineering-001
          - name: 'channel: bundle.error: forbidden'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: After subscribing assistant-work as si:assistant in acme. Reject a Carbon creator, unauthorized member or organization, or missing
              conversation access. No partial changes; socket remains open.
            example:
              type: channel
              data:
                subscription_id: assistant-work
                frame:
                  type: bundle.error
                  data:
                    code: forbidden
                    message: only a Silicon with conversation access may create bundles
                    recoverable: true
                    member_id: si:assistant
                    conversation_id: g:acme:engineering
                    idempotency_key: bundle-engineering-001
          - name: 'channel: bundle.error: conversation missing'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: After subscribing assistant-work as si:assistant in acme. The target conversation does not exist; no conversation is created
              by this command. No partial changes; socket remains open.
            example:
              type: channel
              data:
                subscription_id: assistant-work
                frame:
                  type: bundle.error
                  data: {code: not_found, message: conversation not found, recoverable: true, member_id: 'si:assistant', conversation_id: 'g:acme:engineering',
                    idempotency_key: bundle-engineering-001}
          - name: 'channel: bundle.error: messages unavailable'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: After subscribing assistant-work as si:assistant in acme. Reject missing messages, messages from another conversation, and messages
              already in any bundle, including display messages. No partial changes; socket remains open.
            example:
              type: channel
              data:
                subscription_id: assistant-work
                frame:
                  type: bundle.error
                  data:
                    code: conflict
                    message: one or more bundle messages are unavailable or already bundled
                    recoverable: true
                    member_id: si:assistant
                    conversation_id: g:acme:engineering
                    idempotency_key: bundle-engineering-001
          - name: 'channel: bundle.error: idempotency conflict'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: After subscribing assistant-work as si:assistant in acme. Use a new key for a different operation; retry unchanged content with
              the original key after a lost confirmation. No partial changes; socket remains open.
            example:
              type: channel
              data:
                subscription_id: assistant-work
                frame:
                  type: bundle.error
                  data:
                    code: conflict
                    message: idempotency key was already used with different request content
                    recoverable: true
                    member_id: si:assistant
                    conversation_id: g:acme:engineering
                    idempotency_key: bundle-engineering-001
          - name: unsubscribe.success
            direction: server → client
            schema: {$ref: '#/components/schemas/UnsubscribeSuccessFrame'}
            description: Confirms the subscription is removed; other subscriptions remain active. Repeating removal of an absent ID also succeeds.
            example:
              type: unsubscribe.success
              data: {subscription_id: alice-acme}
          - name: unsubscribe.error
            direction: server → client
            schema: {$ref: '#/components/schemas/UnsubscribeErrorFrame'}
            description: Removal could not complete. Echo subscription_id when available; this error leaves other subscriptions active.
            example:
              type: unsubscribe.error
              data: {subscription_id: alice-acme, code: internal_error, message: Unable to remove subscription., recoverable: true}
          - name: 'channel: ack'
            direction: client → server
            schema: {$ref: '#/components/schemas/SharedClientChannelFrame'}
            description: On the indicated authenticated subscription. Cumulative ACK after durably processing every delivery through this sequence; cannot
              ACK beyond what this connection emitted.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: ack
                  data: {member_id: alice@example.com, through_sequence: 42}
          - name: 'channel: resume'
            direction: client → server
            schema: {$ref: '#/components/schemas/SharedClientChannelFrame'}
            description: On the indicated authenticated subscription. Replay after the saved member-stream position; zero starts from the beginning. Not
              a conversation message ID.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: resume
                  data: {member_id: alice@example.com, after_sequence: 41}
          - name: 'channel: presence'
            direction: client → server
            schema: {$ref: '#/components/schemas/SharedClientChannelFrame'}
            description: 'On the indicated authenticated subscription. activity: typing, recording_voice, transcribing_voice, uploading_file, searching_gifs,
              or null to clear. No separate presence broadcast frame is currently emitted.'
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: presence
                  data: {member_id: alice@example.com, activity: typing}
          - name: 'channel: receipt'
            direction: client → server
            schema: {$ref: '#/components/schemas/SharedClientChannelFrame'}
            description: On the indicated authenticated subscription. Send from the recipient’s connection. status is delivered or read; device_id must
              match that connection. read implies delivery.
            example:
              type: channel
              data:
                subscription_id: bob-acme
                frame:
                  type: receipt
                  data: {member_id: bob@example.com, conversation_id: 'alice@example.com::bob@example.com', message_id: 00a, status: read, device_id: bob-phone-1}
          - name: 'channel: message.create.success'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Confirms this send is durable; delivery/read is tracked separately. No delivery ACK
              for this confirmation.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: message.create.success
                  data:
                    message-id: 00a
                    conversation_id: alice@example.com::bob@example.com
                    recipient_id: bob@example.com
                    sender: {type: carbon, id: alice@example.com}
                    message: Can you review this?
                    attachments: []
                    voice_transcript: null
                    reply: null
                    bundle: null
                    created_at: '2026-09-17T10:00:00Z'
                    updated_at: null
                    deleted_at: null
                    delivered_at: null
                    read_at: null
                    idempotency_key: send-alice-bob-001
                    history: []
          - name: 'channel: receipt.success'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Confirms a device receipt was stored. This confirmation has no delivery sequence.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: receipt.success
                  data: {message_id: 00a, conversation_id: 'alice@example.com::bob@example.com', status: read}
          - name: 'channel: message.updated'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Full current message snapshot with recipient delivery metadata in data.metadata. ACK
              this delivery sequence. recipient_id identifies the receiving account, including sender copies; replay can contain a newer snapshot.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: message.updated
                  data:
                    message-id: 00a
                    conversation_id: alice@example.com::bob@example.com
                    recipient_id: bob@example.com
                    sender: {type: carbon, id: alice@example.com}
                    message: Please review the updated design.
                    attachments: []
                    voice_transcript: null
                    reply: null
                    bundle: null
                    created_at: '2026-09-17T10:00:00Z'
                    updated_at: '2026-09-17T10:01:00Z'
                    deleted_at: null
                    delivered_at: null
                    read_at: null
                    metadata: {source: dm, delivery_id: 22222222-2222-4222-8222-000000000002, delivery_sequence: 43}
                    history:
                      - message: Can you review this?
                        attachments: []
                        voice_transcript: null
                        reply: null
                        created_at: '2026-09-17T10:00:00Z'
          - name: 'channel: message.deleted'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Full current message snapshot with recipient delivery metadata in data.metadata. ACK
              this delivery sequence. recipient_id identifies the receiving account, including sender copies; replay can contain a newer snapshot.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: message.deleted
                  data:
                    message-id: 00a
                    conversation_id: alice@example.com::bob@example.com
                    recipient_id: bob@example.com
                    sender: {type: carbon, id: alice@example.com}
                    message: null
                    attachments: []
                    voice_transcript: null
                    reply: null
                    bundle: null
                    created_at: '2026-09-17T10:00:00Z'
                    updated_at: null
                    deleted_at: '2026-09-17T10:01:00Z'
                    delivered_at: null
                    read_at: null
                    metadata: {source: dm, delivery_id: 22222222-2222-4222-8222-000000000003, delivery_sequence: 44}
                    history: []
          - name: 'channel: message.delivered'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Full current message snapshot with recipient delivery metadata in data.metadata. ACK
              this delivery sequence. recipient_id identifies the receiving account, including sender copies; replay can contain a newer snapshot.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: message.delivered
                  data:
                    message-id: 00a
                    conversation_id: alice@example.com::bob@example.com
                    recipient_id: bob@example.com
                    sender: {type: carbon, id: alice@example.com}
                    message: Can you review this?
                    attachments: []
                    voice_transcript: null
                    reply: null
                    bundle: null
                    created_at: '2026-09-17T10:00:00Z'
                    updated_at: null
                    deleted_at: null
                    delivered_at: '2026-09-17T10:00:02Z'
                    read_at: null
                    metadata: {source: dm, delivery_id: 22222222-2222-4222-8222-000000000004, delivery_sequence: 45}
                    history: []
          - name: 'channel: message.read'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Full current message snapshot with recipient delivery metadata in data.metadata. ACK
              this delivery sequence. recipient_id identifies the receiving account, including sender copies; replay can contain a newer snapshot.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: message.read
                  data:
                    message-id: 00a
                    conversation_id: alice@example.com::bob@example.com
                    recipient_id: bob@example.com
                    sender: {type: carbon, id: alice@example.com}
                    message: Can you review this?
                    attachments: []
                    voice_transcript: null
                    reply: null
                    bundle: null
                    created_at: '2026-09-17T10:00:00Z'
                    updated_at: null
                    deleted_at: null
                    delivered_at: '2026-09-17T10:00:02Z'
                    read_at: '2026-09-17T10:01:00Z'
                    metadata: {source: dm, delivery_id: 22222222-2222-4222-8222-000000000005, delivery_sequence: 46}
                    history: []
          - name: 'channel: message.failed'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Full current message snapshot with recipient delivery metadata in data.metadata. ACK
              this delivery sequence. recipient_id identifies the receiving account, including sender copies; replay can contain a newer snapshot.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: message.failed
                  data:
                    message-id: 00a
                    conversation_id: alice@example.com::bob@example.com
                    recipient_id: bob@example.com
                    sender: {type: carbon, id: alice@example.com}
                    message: Can you review this?
                    attachments: []
                    voice_transcript: null
                    reply: null
                    bundle: null
                    created_at: '2026-09-17T10:00:00Z'
                    updated_at: null
                    deleted_at: null
                    delivered_at: null
                    read_at: null
                    metadata: {source: dm, delivery_id: 22222222-2222-4222-8222-000000000006, delivery_sequence: 47}
                    history: []
          - name: 'channel: connection.error'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Recoverable protocol/command error. Examples include invalid_frame, unsupported_frame,
              validation_error, forbidden, not_found, conflict, and dependency_unavailable. Close frames are separate from JSON errors.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: connection.error
                  data: {code: invalid_frame, message: client frame is not valid protocol JSON, recoverable: true}
          - name: 'channel: ack.success'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Confirms the durable cumulative ACK. through_sequence is the stored position, which
              never decreases. Do not ACK this confirmation.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: ack.success
                  data: {member_id: alice@example.com, through_sequence: 42}
          - name: 'channel: resume.success'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Confirms the replay request was accepted after after_sequence, not that replay has
              finished. Stored ACK is unchanged; ACK replayed delivery events normally.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: resume.success
                  data: {member_id: alice@example.com, after_sequence: 41}
          - name: 'channel: presence.success'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Confirms this member activity was stored. No delivery ACK or separate presence broadcast.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: presence.success
                  data: {member_id: alice@example.com, activity: typing}
          - name: 'channel: message.create.error'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Rejects this command; echoes its available identifiers. Correct the request before
              retrying; the socket stays open.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: message.create.error
                  data:
                    code: invalid_request
                    message: Can you review this?
                    recoverable: true
                    member_id: alice@example.com
                    conversation_id: alice@example.com::bob@example.com
                    idempotency_key: send-alice-bob-001
          - name: 'channel: ack.error'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Rejects this command; echoes its available identifiers. Correct the request before
              retrying; the socket stays open.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: ack.error
                  data: {code: invalid_request, message: through_sequence exceeds the last emitted sequence, recoverable: true, member_id: alice@example.com,
                    through_sequence: 999}
          - name: 'channel: resume.error'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Rejects this command; echoes its available identifiers. Correct the request before
              retrying; the socket stays open.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: resume.error
                  data: {code: invalid_request, message: after_sequence is outside the available replay range, recoverable: true, member_id: alice@example.com,
                    after_sequence: 999}
          - name: 'channel: presence.error'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Rejects this command; echoes its available identifiers. Correct the request before
              retrying; the socket stays open.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: presence.error
                  data: {code: forbidden, message: member is not authorized on this connection, recoverable: true, member_id: alice@example.com}
          - name: 'channel: receipt.error'
            direction: server → client
            schema: {$ref: '#/components/schemas/SharedServerChannelFrame'}
            description: On the indicated authenticated subscription. Rejects this command; echoes its available identifiers. Correct the request before
              retrying; the socket stays open.
            example:
              type: channel
              data:
                subscription_id: bob-acme
                frame:
                  type: receipt.error
                  data:
                    code: forbidden
                    message: device_id does not match this connection
                    recoverable: true
                    member_id: bob@example.com
                    conversation_id: alice@example.com::bob@example.com
                    message_id: 00a
                    device_id: different-device
          - name: 'channel: ping.error'
            direction: client → server
            schema: {$ref: '#/components/schemas/SharedClientChannelFrame'}
            description: On the indicated authenticated subscription. Client cannot complete the heartbeat. Does not count as a successful heartbeat; timeout
              may still close the connection.
            example:
              type: channel
              data:
                subscription_id: alice-acme
                frame:
                  type: ping.error
                  data: {ping_id: ping-1, code: heartbeat_failed, message: Unable to complete heartbeat., recoverable: false}
          - name: connection.error
            direction: server → client
            schema: {$ref: '#/components/schemas/SocketErrorFrame'}
            description: Outer transport error that cannot be assigned to a valid command or subscription.
            example:
              type: connection.error
              data: {code: invalid_frame, message: frame is not valid protocol JSON, recoverable: true}
          - name: 'ping.error: outer transport'
            direction: client → server
            schema: {$ref: '#/components/schemas/PingErrorFrame'}
            description: Client cannot complete the outer heartbeat. Does not satisfy the heartbeat deadline.
            example:
              type: ping.error
              data: {ping_id: outer-ping-1, code: heartbeat_failed, message: Unable to complete heartbeat., recoverable: false}
        closeCodes:
          - {code: 4000, reason: heartbeat-timeout}
      x-websocket-frame:
        anyOf:
          - {$ref: '#/components/schemas/SharedClientSocketFrame'}
          - {$ref: '#/components/schemas/SharedServerSocketFrame'}
  /api/v1/reports:
    post:
      tags: [Operations]
      operationId: submitBugReport
      summary: Durably submit a report and queue a Postmark notification
      description: Production retries notification delivery. Sandbox email is simulated. Reuse Idempotency-Key after an uncertain response. Ten new reports
        per member per hour.
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: report}
                data:
                  type: object
                  additionalProperties: false
                  required: [message, client_version]
                  properties:
                    message: {type: string, minLength: 1, maxLength: 60000}
                    pr:
                      type: [string, 'null']
                      format: uri
                    client_version: {type: string, maxLength: 100}
      responses:
        '202':
          description: Durable acknowledgement; notification is queued, sent or simulated
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {type: string, const: report}
                  data:
                    type: object
                    required: [id, submitted, notification, repository]
                    properties:
                      id: {type: string, format: uuid}
                      submitted: {type: boolean}
                      notification:
                        type: string
                        enum: [queued, sent, simulated]
                      repository: {type: string, format: uri}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '409': {$ref: '#/components/responses/Error'}
        '429': {$ref: '#/components/responses/Error'}
        '503': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/telemetry:
    post:
      tags: [Operations]
      operationId: recordDiagnostic
      summary: Record a bounded diagnostic event without distributing the ingest key
      description: X-DM-Telemetry off disables collection. Sandbox diagnostics remain in their own schema. Message content, URLs and secrets are excluded
        from the accepted schema.
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - in: header
          name: X-DM-Telemetry
          schema:
            type: string
            enum: ['on', 'off']
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: telemetry}
                data:
                  type: object
                  additionalProperties: false
                  required: [source, event, success, duration_ms]
                  properties:
                    source:
                      type: string
                      enum: [cli, sdk, daemon, web]
                    event:
                      type: string
                      enum: [command, connection, callback, queue, update, page_view, request, web_error]
                    success: {type: boolean}
                    duration_ms: {type: integer, minimum: 0, maximum: 604800000}
      responses:
        '204': {description: Diagnostic accepted or opted out}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/iam:
    get:
      tags: [Auth]
      operationId: iamInformation
      summary: Discover the public IAM application configuration
      security: []
      description: Available before login. Returns only public identifiers and URLs, never application secrets.
      parameters:
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Public application configuration
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: iam}
                  data:
                    type: object
                    required: [app_id, iam_base_url, api_base_url]
                    properties:
                      app_id: {type: string}
                      iam_base_url: {type: string, format: uri}
                      api_base_url: {type: string, format: uri}
                      testing_environment_id:
                        type: [string, 'null']
                        format: uuid
                      testing_generation:
                        type: [integer, 'null']
                      testing_environment:
                        type: [object, 'null']
                        additionalProperties: true
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/ws:
    get:
      tags: [Realtime]
      operationId: openRealtimeConnection
      summary: Upgrade to the DM WebSocket protocol
      security:
        - bearerAuth: []
      description: 'Authenticate with a bearer token before upgrading. Repeat members for each represented account; org_id and device_id occur once.

        Example: /api/v1/ws?org_id=acme&members=alice%40example.com&device_id=laptop-browser-1.

        Members are the identities represented by the connection, not recipients or group members.

        Use members in connection queries and connection.ready frames, and member_id in member-scoped commands.

        After HTTP 101, send JSON text frames. connection.ready reports protocol_version=5. Durable events carry delivery metadata inside data.metadata
        for ACK/replay; only type and data appear at the root.

        Ping every 30 seconds requires ping.success with the same ping_id; 120 seconds without a valid ping.success closes the connection.

        ACK confirms processed deliveries, not message reading. Send receipt for delivered/read. Resume replays after a saved delivery sequence.

        See the WebSocket events catalogue in the local Swagger preview for exact frames in both directions.


        Commands use <command>, <command>.success and <command>.error. A response never needs another success response. channel is only an envelope. connection.ready,
        connection.prewarmed, subscription.closed and message.created/updated/deleted/delivered/read/failed are unsolicited notifications, not command replies.
        Only delivery events carrying data.metadata need delivery ACKs.'
      x-websocket-frame: {$ref: '#/components/schemas/SocketFrame'}
      parameters:
        - name: members
          in: query
          required: true
          schema:
            type: array
            minItems: 1
            maxItems: 100
            uniqueItems: true
            items: {type: string}
          style: form
          explode: true
          description: Repeat members once per represented IAM account ID; not conversation contacts. All must be authorized by this token. Current IAM
            integration grants only its authenticated principal; use separate shared subscriptions for independent accounts.
          examples:
            one_member:
              value: [alice@example.com]
            multiple_members:
              summary: Repeated query keys; requires a token authorized for every listed member.
              value: [alice@example.com, 'si:assistant']
        - name: org_id
          in: query
          required: true
          schema: {type: string}
          description: IAM-verified organization context for every represented member
          example: acme
        - name: device_id
          in: query
          required: true
          schema: {$ref: '#/components/schemas/DeviceId'}
          description: Stable client ID for delivery ACK/replay state; must also match receipt.device_id.
          example: laptop-browser-1
        - {$ref: '#/components/parameters/TestingKey'}
        - name: testing_generation
          in: query
          schema: {type: integer, minimum: 1}
          description: Generation persisted from ready.testing_generation. Missing/mismatched testing generation resets server cursor/resume to0; production
            does not use it.
      responses:
        '101': {description: Switching Protocols}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
      x-websocket:
        clientFrames: {$ref: '#/components/schemas/ClientSocketFrame'}
        serverFrames: {$ref: '#/components/schemas/ServerSocketFrame'}
        events:
          - name: ping.success
            direction: client → server
            schema: {$ref: '#/components/schemas/PongFrame'}
            description: Reply to the most recent application ping.
            example:
              type: ping.success
              data: {ping_id: ping-1}
          - name: ack
            direction: client → server
            schema: {$ref: '#/components/schemas/AckFrame'}
            description: Cumulative ACK after durably processing every delivery through this sequence; cannot ACK beyond what this connection emitted.
            example:
              type: ack
              data: {member_id: alice@example.com, through_sequence: 42}
          - name: resume
            direction: client → server
            schema: {$ref: '#/components/schemas/ResumeFrame'}
            description: Replay after the saved member-stream position; zero starts from the beginning. Not a conversation message ID.
            example:
              type: resume
              data: {member_id: alice@example.com, after_sequence: 41}
          - name: presence
            direction: client → server
            schema: {$ref: '#/components/schemas/PresenceFrame'}
            description: 'activity: typing, recording_voice, transcribing_voice, uploading_file, searching_gifs, or null to clear. No separate presence
              broadcast frame is currently emitted.'
            example:
              type: presence
              data: {member_id: alice@example.com, activity: typing}
          - name: receipt
            direction: client → server
            schema: {$ref: '#/components/schemas/ReceiptCommandFrame'}
            description: Send from the recipient’s connection. status is delivered or read; device_id must match that connection. read implies delivery.
            example:
              type: receipt
              data: {member_id: bob@example.com, conversation_id: 'alice@example.com::bob@example.com', message_id: 00a, status: read, device_id: bob-phone-1}
          - name: message.create
            direction: client → server
            schema: {$ref: '#/components/schemas/SendMessageFrame'}
            description: Message content is directly in data, not nested inside another message object. Reuse idempotency_key for retries.
            example:
              type: message.create
              data:
                member_id: alice@example.com
                org_id: acme
                conversation_id: alice@example.com::bob@example.com
                idempotency_key: send-alice-bob-001
                message: Can you review this?
                attachments: []
          - name: bundle
            direction: client → server
            schema: {$ref: '#/components/schemas/CreateBundleFrame'}
            description: Create a bundle atomically using the HTTP bundle rules. 1–100 unique existing messages from the same conversation, none already
              bundled; caller supplies display content. Reuse the idempotency key and identical content after timeout or reconnect. Same key and content
              returns the same bundle; changed content conflicts. No partial bundle or display message on failure.
            example:
              type: bundle
              data:
                member_id: si:assistant
                org_id: acme
                conversation_id: g:acme:engineering
                idempotency_key: bundle-engineering-001
                message_ids: ['001', '002', '003']
                display_message:
                  message: 'Summary: We agreed to ship on Friday.'
                  attachments: []
          - name: bundle.success
            direction: server → client
            schema: {$ref: '#/components/schemas/BundleCreatedFrame'}
            description: Durable creation confirmation, also returned for an identical retry. Correlate by member_id, conversation_id and idempotency_key.
              No delivery ACK for this frame; the display message is delivered separately as message.created with data.metadata.
            example:
              type: bundle.success
              data:
                id: '001'
                conversation_id: g:acme:engineering
                original_message_ids: ['001', '002', '003']
                display_message:
                  message-id: '004'
                  conversation_id: g:acme:engineering
                  recipient_id: g:acme:engineering
                  sender: {type: silicon, id: 'si:assistant'}
                  message: 'Summary: We agreed to ship on Friday.'
                  attachments: []
                  voice_transcript: null
                  reply: null
                  bundle: {id: '001', role: display}
                  created_at: '2026-09-17T10:00:00Z'
                  updated_at: null
                  deleted_at: null
                  delivered_at: null
                  read_at: null
                  history: []
                created_by: {type: silicon, id: 'si:assistant'}
                created_at: '2026-09-17T10:00:00Z'
                member_id: si:assistant
                idempotency_key: bundle-engineering-001
          - name: 'bundle.success: identical retry'
            direction: server → client
            schema: {$ref: '#/components/schemas/BundleCreatedFrame'}
            description: Resend the identical bundle request with the same idempotency_key. Returns the original bundle and display message IDs without
              creating duplicates.
            example:
              type: bundle.success
              data:
                id: '001'
                conversation_id: g:acme:engineering
                original_message_ids: ['001', '002', '003']
                display_message:
                  message-id: '004'
                  conversation_id: g:acme:engineering
                  recipient_id: g:acme:engineering
                  sender: {type: silicon, id: 'si:assistant'}
                  message: 'Summary: We agreed to ship on Friday.'
                  attachments: []
                  voice_transcript: null
                  reply: null
                  bundle: {id: '001', role: display}
                  created_at: '2026-09-17T10:00:00Z'
                  updated_at: null
                  deleted_at: null
                  delivered_at: null
                  read_at: null
                  history: []
                created_by: {type: silicon, id: 'si:assistant'}
                created_at: '2026-09-17T10:00:00Z'
                member_id: si:assistant
                idempotency_key: bundle-engineering-001
          - name: 'bundle.error: invalid input'
            direction: server → client
            schema: {$ref: '#/components/schemas/CommandErrorFrame'}
            description: Reject invalid content, duplicate IDs, or a count outside 1–100. No partial changes; socket remains open.
            example:
              type: bundle.error
              data:
                code: invalid_request
                message: bundle message_ids must be unique
                recoverable: true
                member_id: si:assistant
                conversation_id: g:acme:engineering
                idempotency_key: bundle-engineering-001
          - name: 'bundle.error: forbidden'
            direction: server → client
            schema: {$ref: '#/components/schemas/CommandErrorFrame'}
            description: Reject a Carbon creator, unauthorized member or organization, or missing conversation access. No partial changes; socket remains
              open.
            example:
              type: bundle.error
              data:
                code: forbidden
                message: only a Silicon with conversation access may create bundles
                recoverable: true
                member_id: si:assistant
                conversation_id: g:acme:engineering
                idempotency_key: bundle-engineering-001
          - name: 'bundle.error: conversation missing'
            direction: server → client
            schema: {$ref: '#/components/schemas/CommandErrorFrame'}
            description: The target conversation does not exist; no conversation is created by this command. No partial changes; socket remains open.
            example:
              type: bundle.error
              data: {code: not_found, message: conversation not found, recoverable: true, member_id: 'si:assistant', conversation_id: 'g:acme:engineering',
                idempotency_key: bundle-engineering-001}
          - name: 'bundle.error: messages unavailable'
            direction: server → client
            schema: {$ref: '#/components/schemas/CommandErrorFrame'}
            description: Reject missing messages, messages from another conversation, and messages already in any bundle, including display messages. No
              partial changes; socket remains open.
            example:
              type: bundle.error
              data:
                code: conflict
                message: one or more bundle messages are unavailable or already bundled
                recoverable: true
                member_id: si:assistant
                conversation_id: g:acme:engineering
                idempotency_key: bundle-engineering-001
          - name: 'bundle.error: idempotency conflict'
            direction: server → client
            schema: {$ref: '#/components/schemas/CommandErrorFrame'}
            description: Use a new key for a different operation; retry unchanged content with the original key after a lost confirmation. No partial changes;
              socket remains open.
            example:
              type: bundle.error
              data:
                code: conflict
                message: idempotency key was already used with different request content
                recoverable: true
                member_id: si:assistant
                conversation_id: g:acme:engineering
                idempotency_key: bundle-engineering-001
          - name: connection.ready
            direction: server → client
            schema: {$ref: '#/components/schemas/ReadyFrame'}
            description: Sent after authorization; gives the connection ID, authorized members, and stored delivery cursors. testing_generation is null
              in production.
            example:
              type: connection.ready
              data:
                protocol_version: 5
                testing_generation: null
                connection_id: 11111111-1111-4111-8111-111111111111
                members: [alice@example.com]
                acknowledged_through: {alice@example.com: 41}
          - name: ping
            direction: server → client
            schema: {$ref: '#/components/schemas/PingFrame'}
            description: Every 30 seconds; return ping.success with exactly the same ping_id.
            example:
              type: ping
              data: {ping_id: ping-1}
          - name: message.create.success
            direction: server → client
            schema: {$ref: '#/components/schemas/MessageAcceptedFrame'}
            description: Confirms this send is durable; delivery/read is tracked separately. No delivery ACK for this confirmation.
            example:
              type: message.create.success
              data:
                message-id: 00a
                conversation_id: alice@example.com::bob@example.com
                recipient_id: bob@example.com
                sender: {type: carbon, id: alice@example.com}
                message: Can you review this?
                attachments: []
                voice_transcript: null
                reply: null
                bundle: null
                created_at: '2026-09-17T10:00:00Z'
                updated_at: null
                deleted_at: null
                delivered_at: null
                read_at: null
                idempotency_key: send-alice-bob-001
                history: []
          - name: receipt.success
            direction: server → client
            schema: {$ref: '#/components/schemas/ReceiptRecordedFrame'}
            description: Confirms a device receipt was stored. This confirmation has no delivery sequence.
            example:
              type: receipt.success
              data: {message_id: 00a, conversation_id: 'alice@example.com::bob@example.com', status: read}
          - name: message.created
            direction: server → client
            schema: {$ref: '#/components/schemas/MessageDeliveryFrame'}
            description: Full current message snapshot with recipient delivery metadata in data.metadata. ACK this delivery sequence. recipient_id identifies
              the receiving account, including sender copies; replay can contain a newer snapshot.
            example:
              type: message.created
              data:
                message-id: 00a
                conversation_id: alice@example.com::bob@example.com
                recipient_id: bob@example.com
                sender: {type: carbon, id: alice@example.com}
                message: Can you review this?
                attachments: []
                voice_transcript: null
                reply: null
                bundle: null
                created_at: '2026-09-17T10:00:00Z'
                updated_at: null
                deleted_at: null
                delivered_at: null
                read_at: null
                metadata: {source: dm, delivery_id: 22222222-2222-4222-8222-000000000001, delivery_sequence: 42}
                history: []
          - name: message.updated
            direction: server → client
            schema: {$ref: '#/components/schemas/MessageDeliveryFrame'}
            description: Full current message snapshot with recipient delivery metadata in data.metadata. ACK this delivery sequence. recipient_id identifies
              the receiving account, including sender copies; replay can contain a newer snapshot.
            example:
              type: message.updated
              data:
                message-id: 00a
                conversation_id: alice@example.com::bob@example.com
                recipient_id: bob@example.com
                sender: {type: carbon, id: alice@example.com}
                message: Please review the updated design.
                attachments: []
                voice_transcript: null
                reply: null
                bundle: null
                created_at: '2026-09-17T10:00:00Z'
                updated_at: '2026-09-17T10:01:00Z'
                deleted_at: null
                delivered_at: null
                read_at: null
                metadata: {source: dm, delivery_id: 22222222-2222-4222-8222-000000000002, delivery_sequence: 43}
                history:
                  - message: Can you review this?
                    attachments: []
                    voice_transcript: null
                    reply: null
                    created_at: '2026-09-17T10:00:00Z'
          - name: message.deleted
            direction: server → client
            schema: {$ref: '#/components/schemas/MessageDeliveryFrame'}
            description: Full current message snapshot with recipient delivery metadata in data.metadata. ACK this delivery sequence. recipient_id identifies
              the receiving account, including sender copies; replay can contain a newer snapshot.
            example:
              type: message.deleted
              data:
                message-id: 00a
                conversation_id: alice@example.com::bob@example.com
                recipient_id: bob@example.com
                sender: {type: carbon, id: alice@example.com}
                message: null
                attachments: []
                voice_transcript: null
                reply: null
                bundle: null
                created_at: '2026-09-17T10:00:00Z'
                updated_at: null
                deleted_at: '2026-09-17T10:01:00Z'
                delivered_at: null
                read_at: null
                metadata: {source: dm, delivery_id: 22222222-2222-4222-8222-000000000003, delivery_sequence: 44}
                history: []
          - name: message.delivered
            direction: server → client
            schema: {$ref: '#/components/schemas/ReceiptDeliveryFrame'}
            description: Full current message snapshot with recipient delivery metadata in data.metadata. ACK this delivery sequence. recipient_id identifies
              the receiving account, including sender copies; replay can contain a newer snapshot.
            example:
              type: message.delivered
              data:
                message-id: 00a
                conversation_id: alice@example.com::bob@example.com
                recipient_id: bob@example.com
                sender: {type: carbon, id: alice@example.com}
                message: Can you review this?
                attachments: []
                voice_transcript: null
                reply: null
                bundle: null
                created_at: '2026-09-17T10:00:00Z'
                updated_at: null
                deleted_at: null
                delivered_at: '2026-09-17T10:00:02Z'
                read_at: null
                metadata: {source: dm, delivery_id: 22222222-2222-4222-8222-000000000004, delivery_sequence: 45}
                history: []
          - name: message.read
            direction: server → client
            schema: {$ref: '#/components/schemas/ReceiptDeliveryFrame'}
            description: Full current message snapshot with recipient delivery metadata in data.metadata. ACK this delivery sequence. recipient_id identifies
              the receiving account, including sender copies; replay can contain a newer snapshot.
            example:
              type: message.read
              data:
                message-id: 00a
                conversation_id: alice@example.com::bob@example.com
                recipient_id: bob@example.com
                sender: {type: carbon, id: alice@example.com}
                message: Can you review this?
                attachments: []
                voice_transcript: null
                reply: null
                bundle: null
                created_at: '2026-09-17T10:00:00Z'
                updated_at: null
                deleted_at: null
                delivered_at: '2026-09-17T10:00:02Z'
                read_at: '2026-09-17T10:01:00Z'
                metadata: {source: dm, delivery_id: 22222222-2222-4222-8222-000000000005, delivery_sequence: 46}
                history: []
          - name: message.failed
            direction: server → client
            schema: {$ref: '#/components/schemas/ReceiptDeliveryFrame'}
            description: Full current message snapshot with recipient delivery metadata in data.metadata. ACK this delivery sequence. recipient_id identifies
              the receiving account, including sender copies; replay can contain a newer snapshot.
            example:
              type: message.failed
              data:
                message-id: 00a
                conversation_id: alice@example.com::bob@example.com
                recipient_id: bob@example.com
                sender: {type: carbon, id: alice@example.com}
                message: Can you review this?
                attachments: []
                voice_transcript: null
                reply: null
                bundle: null
                created_at: '2026-09-17T10:00:00Z'
                updated_at: null
                deleted_at: null
                delivered_at: null
                read_at: null
                metadata: {source: dm, delivery_id: 22222222-2222-4222-8222-000000000006, delivery_sequence: 47}
                history: []
          - name: connection.error
            direction: server → client
            schema: {$ref: '#/components/schemas/SocketErrorFrame'}
            description: Malformed or unrecognized frame that cannot be assigned to a command. Recognized command failures use that command’s .error type.
            example:
              type: connection.error
              data: {code: invalid_frame, message: client frame is not valid protocol JSON, recoverable: true}
          - name: ack.success
            direction: server → client
            schema: {$ref: '#/components/schemas/AckSuccessFrame'}
            description: Confirms the durable cumulative ACK. through_sequence is the stored position, which never decreases. Do not ACK this confirmation.
            example:
              type: ack.success
              data: {member_id: alice@example.com, through_sequence: 42}
          - name: resume.success
            direction: server → client
            schema: {$ref: '#/components/schemas/ResumeSuccessFrame'}
            description: Confirms the replay request was accepted after after_sequence, not that replay has finished. Stored ACK is unchanged; ACK replayed
              delivery events normally.
            example:
              type: resume.success
              data: {member_id: alice@example.com, after_sequence: 41}
          - name: presence.success
            direction: server → client
            schema: {$ref: '#/components/schemas/PresenceSuccessFrame'}
            description: Confirms this member activity was stored. No delivery ACK or separate presence broadcast.
            example:
              type: presence.success
              data: {member_id: alice@example.com, activity: typing}
          - name: message.create.error
            direction: server → client
            schema: {$ref: '#/components/schemas/CommandErrorFrame'}
            description: Rejects this command; echoes its available identifiers. Correct the request before retrying; the socket stays open.
            example:
              type: message.create.error
              data:
                code: invalid_request
                message: Can you review this?
                recoverable: true
                member_id: alice@example.com
                conversation_id: alice@example.com::bob@example.com
                idempotency_key: send-alice-bob-001
          - name: ack.error
            direction: server → client
            schema: {$ref: '#/components/schemas/CommandErrorFrame'}
            description: Rejects this command; echoes its available identifiers. Correct the request before retrying; the socket stays open.
            example:
              type: ack.error
              data: {code: invalid_request, message: through_sequence exceeds the last emitted sequence, recoverable: true, member_id: alice@example.com,
                through_sequence: 999}
          - name: resume.error
            direction: server → client
            schema: {$ref: '#/components/schemas/CommandErrorFrame'}
            description: Rejects this command; echoes its available identifiers. Correct the request before retrying; the socket stays open.
            example:
              type: resume.error
              data: {code: invalid_request, message: after_sequence is outside the available replay range, recoverable: true, member_id: alice@example.com,
                after_sequence: 999}
          - name: presence.error
            direction: server → client
            schema: {$ref: '#/components/schemas/CommandErrorFrame'}
            description: Rejects this command; echoes its available identifiers. Correct the request before retrying; the socket stays open.
            example:
              type: presence.error
              data: {code: forbidden, message: member is not authorized on this connection, recoverable: true, member_id: alice@example.com}
          - name: receipt.error
            direction: server → client
            schema: {$ref: '#/components/schemas/CommandErrorFrame'}
            description: Rejects this command; echoes its available identifiers. Correct the request before retrying; the socket stays open.
            example:
              type: receipt.error
              data:
                code: forbidden
                message: device_id does not match this connection
                recoverable: true
                member_id: bob@example.com
                conversation_id: alice@example.com::bob@example.com
                message_id: 00a
                device_id: different-device
          - name: ping.error
            direction: client → server
            schema: {$ref: '#/components/schemas/PingErrorFrame'}
            description: Client cannot complete the heartbeat. Does not count as a successful heartbeat; timeout may still close the connection.
            example:
[...]
