openapi: 3.1.0
servers:
  - url: https://backend.dm.teamofsilicons.com
info: {title: DM API, version: 0.10.1}
security:
  - bearerAuth: []
tags:
  - {name: Conversations, description: Exact-participant-set conversations}
  - {name: Groups, description: Named organization groups with invitations and dynamic IAM tag access}
  - {name: Messages, description: 'Durable content, receipts, and attachment access'}
  - {name: Bundles, description: Non-destructive Silicon message bundles}
  - {name: Drafts, description: Private cross-device draft synchronization}
  - {name: Presence, description: Authorized availability and transient activity}
  - {name: GIFs, description: Safe Giphy discovery and recent history}
  - {name: Auth, description: IAM application-session exchange and maintenance}
  - {name: Testing, description: Honeycomb owns shared test lifecycle; legacy controls require production IAM authority}
  - {name: IAM webhooks, description: 'Signed IAM callbacks, outside the /api/v1 base path'}
  - {name: Operations, description: Deployment health probes}
  - {name: Delivery, description: Explicit Ting recipient enrollment and authoritative HTTP recovery}
paths:
  /api/v1/delivery/registration:
    post:
      operationId: registerTingDelivery
      tags: [Delivery]
      summary: Explicitly enroll the authenticated recipient for Ting notifications.
      description: >-
        Registers or reconnects the authenticated actor's dm recipient grant in Ting using
        their current IAM consent. Requires the approved external subscriptions.register scope
        and self.identity.read. This is not a Ting login or webhook registration. Completed
        Idempotency-Key retries return the cached public subscription without reactivating a
        later revocation. An in-flight or uncertain previous result returns 409; a new explicit
        registration requires a new key. No user tokens or proofs are persisted.
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - {$ref: '#/components/parameters/TestingGeneration'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: delivery_registration}
                data: {type: object, additionalProperties: false}
            example: {type: delivery_registration, data: {}}
      responses:
        '200':
          description: Confirmed recipient subscription or the original cached result.
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {type: string, const: delivery_registration}
                  data: {$ref: '#/components/schemas/TingSubscription'}
        '400': {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        '429': {$ref: '#/components/responses/Error'}
        '503': {$ref: '#/components/responses/Error'}
  /api/v1/sync:
    get:
      operationId: syncEvents
      tags: [Delivery]
      summary: Recover authoritative event references for the authenticated actor.
      description: >-
        Returns bounded references under current conversation and group permissions. Cursors
        bind the actor, organization, testing environment and cleaning generation, and expire
        after 24 hours. Continue with the returned cursor while has_more is true; filtered
        inaccessible events can produce an empty page with more work. A Ting event sequence
        must never replace this cursor. A 409 sync_reset_required means obtain a reset cursor,
        refresh authorized conversations and messages, then resume from that cursor.
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - {$ref: '#/components/parameters/TestingGeneration'}
        - {$ref: '#/components/parameters/Cursor'}
        - {$ref: '#/components/parameters/Limit'}
        - name: reset
          in: query
          schema: {type: boolean, default: false}
          description: Return an empty event page with a cursor at the current head. Cannot be combined with cursor.
      responses:
        '200':
          description: Current authorized references and the next authoritative cursor.
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {type: string, const: sync}
                  data: {$ref: '#/components/schemas/SyncPage'}
        '400': {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        '503': {$ref: '#/components/responses/Error'}
  /api/v1/presence/devices/{device_id}:
    parameters:
      - {$ref: '#/components/parameters/OrgId'}
      - {$ref: '#/components/parameters/TestingKey'}
      - {$ref: '#/components/parameters/TestingGeneration'}
      - name: device_id
        in: path
        required: true
        schema: {$ref: '#/components/schemas/DeviceId'}
        description: Stable device identifier without control characters, scoped to the authenticated actor.
    put:
      operationId: renewDevicePresence
      tags: [Presence]
      summary: Renew the authenticated actor's HTTP device presence lease.
      description: >-
        Sets a bounded lease for this device independently of Ting delivery. Omitted or null
        activity clears the device's activity. A lease never grants message access and is not
        a delivery or read receipt. All requests revalidate IAM authority.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: renew_presence}
                data:
                  type: object
                  additionalProperties: false
                  properties:
                    activity:
                      type: [string, 'null']
                      enum: [typing, recording_voice, transcribing_voice, uploading_file, searching_gifs, null]
            example: {type: renew_presence, data: {activity: typing}}
      responses:
        '200':
          description: Renewed device deadline and aggregate actor presence.
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {type: string, const: renew_presence}
                  data: {$ref: '#/components/schemas/PresenceLease'}
        '400': {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
    delete:
      operationId: closeDevicePresence
      tags: [Presence]
      summary: Close the authenticated actor's named HTTP presence lease.
      description: Does not close other devices or change Ting destinations. Repeated closure is harmless.
      responses:
        '204': {description: The device is no longer online through this lease.}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
  /api/v1/conversations:
    get:
      summary: List accessible DMs and groups in one organization, newest activity first.
      security:
        - bearerAuth: []
      parameters:
        - name: X-Org-ID
          in: header
          required: true
          schema: {type: string}
          example: acme
        - name: X-Testing-Environment-Key
          in: header
          schema: {type: string}
          description: Optional testing key; omit for production.
        - name: limit
          in: query
          schema: {type: integer, minimum: 1, maximum: 100, default: 50}
        - name: cursor
          in: query
          schema: {type: string}
          description: Previous next_cursor; omit for the first page.
      responses:
        '200':
          description: Conversations; an empty list is also a successful response.
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {type: string, const: conversations}
                  data:
                    type: object
                    required: [items, next_cursor]
                    properties:
                      items:
                        type: array
                        items: {$ref: '#/components/schemas/ConversationSummary'}
                      next_cursor:
                        type: [string, 'null']
                        description: Continuation token; null on the last page.
              examples:
                group:
                  summary: A group conversation.
                  value:
                    type: conversations
                    data:
                      items:
                        - id: g:acme:engineering
                          org_id: acme
                          participants:
                            - {type: carbon, id: alice@example.com}
                            - {type: carbon, id: bob@example.com}
                          group:
                            name: Engineering
                            description: Engineering discussions
                            tag_ids: []
                          last_message:
                            message-id: 00a
                            conversation_id: g:acme:engineering
                            recipient_id: g:acme:engineering
                            sender: {type: carbon, id: alice@example.com}
                            message: Can you review this?
                            attachments: []
                            voice_transcript: null
                            reply: null
                            bundle: null
                            created_at: '2026-09-17T10:00:00Z'
                            updated_at: null
                            deleted_at: null
                            delivered_at: '2026-09-17T10:00:02Z'
                            read_at: null
                            history: []
                          last_message_status: delivered
                          created_at: '2026-09-17T08:00:00Z'
                          updated_at: '2026-09-17T10:00:00Z'
                      next_cursor: null
                normal_chat:
                  summary: A normal DM; no group field.
                  value:
                    type: conversations
                    data:
                      items:
                        - id: alice@example.com::bob@example.com
                          org_id: acme
                          participants:
                            - {type: carbon, id: alice@example.com}
                            - {type: carbon, id: bob@example.com}
                          last_message:
                            message-id: 00a
                            conversation_id: alice@example.com::bob@example.com
                            recipient_id: bob@example.com
                            sender: {type: carbon, id: alice@example.com}
                            message: Can you review this?
                            attachments: []
                            voice_transcript: null
                            reply: null
                            bundle: null
                            created_at: '2026-09-17T10:00:00Z'
                            updated_at: null
                            deleted_at: null
                            delivered_at: '2026-09-17T10:00:02Z'
                            read_at: null
                            history: []
                          last_message_status: delivered
                          created_at: '2026-09-17T08:00:00Z'
                          updated_at: '2026-09-17T10:00:00Z'
                      next_cursor: null
                empty:
                  summary: No chats or groups.
                  value:
                    type: conversations
                    data:
                      items: []
                      next_cursor: null
      tags: [Conversations]
    post:
      summary: Create an empty conversation or return the existing conversation for the same participants.
      description: 'The caller is included automatically. Duplicate IDs are collapsed; 2–100 unique

        participants including the caller are required. Everyone must have verifiable

        active membership in the selected organization. Offline members are allowed.

        A conversation is shared: a member not having opened it does not create a new copy.

        An existing conversation keeps its ID, history, and activity timestamps.

        A different participant set creates a different conversation, not an invitation

        into an existing one. No message is sent. This does not create a named group.'
      security:
        - bearerAuth: []
      parameters:
        - name: X-Org-ID
          in: header
          required: true
          schema: {type: string}
          example: acme
        - name: Idempotency-Key
          in: header
          required: true
          description: Reuse for retries of the same request; different participants require a new key.
          schema: {type: string, minLength: 8, maxLength: 255, pattern: '^[!-~]{8,255}$'}
          example: create-alice-bob-001
        - name: X-Testing-Environment-Key
          in: header
          schema: {type: string}
          description: Optional testing key; omit for production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              additionalProperties: false
              properties:
                type: {type: string, const: create_conversation}
                data:
                  type: object
                  required: [participant_ids]
                  additionalProperties: false
                  properties:
                    participant_ids:
                      type: array
                      minItems: 1
                      description: IAM account IDs; at least one must be someone other than the caller. Maximum 100 unique participants after including
                        the caller.
                      items: {type: string, minLength: 1, maxLength: 255}
            examples:
              normal_chat:
                summary: Alice creates or retrieves her conversation with Bob.
                value:
                  type: create_conversation
                  data:
                    participant_ids: [bob@example.com]
              multiple_members:
                summary: Alice creates or retrieves a conversation with Bob and an agent.
                value:
                  type: create_conversation
                  data:
                    participant_ids: [bob@example.com, 'si:assistant']
              unknown_member:
                summary: If one requested member cannot be verified, the entire request fails with 422.
                value:
                  type: create_conversation
                  data:
                    participant_ids: [bob@example.com, missing@example.com]
      responses:
        '201':
          description: New or existing conversation. The current API uses 201 for both, including retries; there is no separate created flag.
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {type: string, const: create_conversation}
                  data: {$ref: '#/components/schemas/ConversationSummary'}
              examples:
                created:
                  summary: No conversation exists for Alice and Bob; create one accessible to both.
                  value:
                    type: create_conversation
                    data:
                      id: alice@example.com::bob@example.com
                      org_id: acme
                      participants:
                        - {type: carbon, id: alice@example.com}
                        - {type: carbon, id: bob@example.com}
                      last_message: null
                      last_message_status: null
                      created_at: '2026-09-17T10:00:00Z'
                      updated_at: '2026-09-17T10:00:00Z'
                already_exists:
                  summary: Return an existing empty conversation, even if Bob has never opened it; preserve its timestamps.
                  value:
                    type: create_conversation
                    data:
                      id: alice@example.com::bob@example.com
                      org_id: acme
                      participants:
                        - {type: carbon, id: alice@example.com}
                        - {type: carbon, id: bob@example.com}
                      last_message: null
                      last_message_status: null
                      created_at: '2026-09-16T08:00:00Z'
                      updated_at: '2026-09-16T08:00:00Z'
        '401':
          description: Missing, invalid, or expired authentication; authenticate again.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
              example:
                type: error
                data:
                  error: {code: unauthorized, message: authentication required}
        '403':
          description: Authenticated caller lacks authority or the organization does not match; no conversation is created.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
              example:
                type: error
                data:
                  error: {code: forbidden, message: operation is not permitted}
        '409':
          description: Conflicting idempotency-key reuse or an in-progress retry. Correct the request/key, or retry the identical pending request later.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
              examples:
                reused_key:
                  value:
                    type: error
                    data:
                      error: {code: conflict, message: idempotency key was already used with different request content}
                in_progress:
                  value:
                    type: error
                    data:
                      error: {code: conflict, message: idempotent request is still in progress}
        '422':
          description: Invalid input/required headers, or any requested member is unknown, inactive, outside this organization, or not yet disclosed to
            DM. No partial conversation is created. This does not prove an account does not exist in IAM.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
              examples:
                unverified_member:
                  summary: A requested member has no verifiable active organization membership in DM.
                  value:
                    type: error
                    data:
                      error: {code: validation_error, message: IAM has not supplied an active membership for this participant to DM; the recipient can sign
                          in to refresh their membership}
                empty_participants:
                  value:
                    type: error
                    data:
                      error: {code: validation_error, message: participant_ids must contain at least one member}
                only_self:
                  value:
                    type: error
                    data:
                      error: {code: validation_error, message: a conversation requires at least two unique participants}
                too_many_participants:
                  value:
                    type: error
                    data:
                      error: {code: validation_error, message: a conversation may contain at most 100 unique participants}
        '500':
          description: Internal failure; outcome may be uncertain. Retry with the same idempotency key.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
              example:
                type: error
                data:
                  error: {code: internal_error, message: internal server error}
        '503':
          description: IAM is unavailable; retry with the same idempotency key once available.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
              example:
                type: error
                data:
                  error: {code: dependency_unavailable, message: dependency iam is unavailable}
      tags: [Conversations]
  /internal/honeycomb/organizations/{org_id}/testing-environments/{environment_id}/operations/{operation_id}:
    parameters:
      - name: org_id
        in: path
        required: true
        schema: {type: string}
      - name: environment_id
        in: path
        required: true
        schema: {type: string, format: uuid}
      - name: operation_id
        in: path
        required: true
        schema: {type: string, format: uuid}
    put:
      tags: [Testing]
      operationId: applyHoneycombLifecycle
      summary: Apply a protected Honeycomb lifecycle instruction
      description: Plain coordinator JSON, without the public DM envelope. Retry the identical instruction and operation ID. Completion follows test database
        cleanup; failures remain fenced.
      security:
        - honeycombService: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/HoneycombOperation'}
      responses:
        '200':
          description: Exact completed receipt or replay
          content:
            application/json:
              schema: {$ref: '#/components/schemas/HoneycombReceipt'}
        '400': {description: Invalid instruction or path/body mismatch}
        '401': {description: Missing or invalid service credential}
        '409': {description: 'Stale revision, conflicting retry, or incompatible transition'}
        '500': {description: Failed operation; inspect receipt and retry identical instruction}
    get:
      tags: [Testing]
      operationId: getHoneycombLifecycleReceipt
      summary: Recover a pending, completed or failed lifecycle receipt
      security:
        - honeycombService: []
      responses:
        '200':
          description: Secret-free durable receipt
          content:
            application/json:
              schema: {$ref: '#/components/schemas/HoneycombReceipt'}
        '401': {description: Missing or invalid service credential}
        '404': {description: Unknown operation for the requested organization}
  /api/v1/groups:
    post:
      tags: [Groups]
      operationId: createGroup
      summary: Create a group as an organization administrator or owner
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      responses:
        '201':
          description: Successful group operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: create_group}
                  data: {$ref: '#/components/schemas/Conversation'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: create_group}
                data: {$ref: '#/components/schemas/GroupCreate'}
      description: Creator is invited automatically. Groups have stable conversation UUIDs and full prior message history for new members. Private groups
        admit invited members or members with any matching current IAM tag. Public groups automatically admit organization Carbons; Silicons always require
        an explicit invitation. Only org_admin/org_owner (and canonical IAM admin/owner aliases) may create, update, invite or remove invitations. Group
        administration does not itself grant history access.
  /api/v1/groups/{group_id}:
    get:
      tags: [Groups]
      operationId: getGroup
      summary: Read group settings, active participants and latest message
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - name: group_id
          in: path
          required: true
          schema: {$ref: '#/components/schemas/ConversationAddress'}
      responses:
        '200':
          description: Successful group operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: group}
                  data: {$ref: '#/components/schemas/Conversation'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
    patch:
      tags: [Groups]
      operationId: updateGroup
      summary: Replace group settings with an exact current version
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - name: group_id
          in: path
          required: true
          schema: {$ref: '#/components/schemas/ConversationAddress'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - name: If-Match
          in: header
          required: true
          schema: {type: integer, minimum: 1}
      responses:
        '200':
          description: Successful group operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: update_group}
                  data: {$ref: '#/components/schemas/GroupDetails'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: update_group}
                data: {$ref: '#/components/schemas/GroupSettings'}
  /api/v1/groups/{group_id}/members:
    post:
      tags: [Groups]
      operationId: inviteGroupMembers
      summary: Add explicit invitations as an organization administrator or owner
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - name: group_id
          in: path
          required: true
          schema: {$ref: '#/components/schemas/ConversationAddress'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      responses:
        '200':
          description: Successful group operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: invite_group_members}
                  data: {$ref: '#/components/schemas/GroupDetails'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: invite_group_members}
                data: {$ref: '#/components/schemas/GroupMembers'}
    delete:
      tags: [Groups]
      operationId: removeGroupMembers
      summary: Remove explicit invitations; tag and public grants remain independent
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - name: group_id
          in: path
          required: true
          schema: {$ref: '#/components/schemas/ConversationAddress'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      responses:
        '200':
          description: Successful group operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: remove_group_members}
                  data: {$ref: '#/components/schemas/GroupDetails'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Error'}
        '404': {$ref: '#/components/responses/Error'}
        '409': {$ref: '#/components/responses/Error'}
        '422': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: remove_group_members}
                data: {$ref: '#/components/schemas/GroupMembers'}
  /api/v1/contracts:
    get:
      tags: [Operations]
      operationId: discoverContracts
      summary: Discover contract lifecycle and compatibility
      security: []
      parameters:
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Contract versions and compatibility matrix for the selected plane
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {type: string, const: contracts}
                  data:
                    type: object
                    required: [service, service_version, contracts, compatibility, delivery, retired_routes]
                    properties:
                      service: {type: string, const: silicon-dm}
                      service_version: {type: string}
                      contracts: {type: array, items: {type: object, additionalProperties: true}}
                      compatibility:
                        type: array
                        items:
                          type: object
                          required: [http]
                          properties: {http: {type: integer, const: 3}}
                      delivery: {$ref: '#/components/schemas/DeliveryDiscovery'}
                      retired_routes: {type: array, items: {type: string}}
                    additionalProperties: true
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/ws/shared:
    get:
      tags: [Delivery]
      operationId: retiredSharedSocket
      summary: Retired DM socket endpoint
      deprecated: true
      security: []
      description: Returns 410 delivery_moved_to_ting without upgrading, including for old protocol headers. Enroll through DM delivery registration, receive Ting updates, and recover through DM HTTP sync. This route no longer authenticates socket subscriptions.
      responses:
        '410':
          description: Delivery moved to Ting; use the returned discovery paths.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/DeliveryRetirement'}
  /api/v1/reports:
    post:
      tags: [Operations]
      operationId: submitBugReport
      summary: Durably submit a report and queue a Postmark notification
      description: Production retries notification delivery. Sandbox email is simulated. Reuse Idempotency-Key after an uncertain response. Ten new reports
        per member per hour.
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: report}
                data:
                  type: object
                  additionalProperties: false
                  required: [message, client_version]
                  properties:
                    message: {type: string, minLength: 1, maxLength: 60000}
                    pr:
                      type: [string, 'null']
                      format: uri
                    client_version: {type: string, maxLength: 100}
      responses:
        '202':
          description: Durable acknowledgement; notification is queued, sent or simulated
          content:
            application/json:
              schema:
                type: object
                required: [type, data]
                properties:
                  type: {type: string, const: report}
                  data:
                    type: object
                    required: [id, submitted, notification, repository]
                    properties:
                      id: {type: string, format: uuid}
                      submitted: {type: boolean}
                      notification:
                        type: string
                        enum: [queued, sent, simulated]
                      repository: {type: string, format: uri}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '409': {$ref: '#/components/responses/Error'}
        '429': {$ref: '#/components/responses/Error'}
        '503': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/telemetry:
    post:
      tags: [Operations]
      operationId: recordDiagnostic
      summary: Record a bounded diagnostic event without distributing the ingest key
      description: X-DM-Telemetry off disables collection. Sandbox diagnostics remain in their own schema. Message content, URLs and secrets are excluded
        from the accepted schema.
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - in: header
          name: X-DM-Telemetry
          schema:
            type: string
            enum: ['on', 'off']
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: telemetry}
                data:
                  type: object
                  additionalProperties: false
                  required: [source, event, success, duration_ms]
                  properties:
                    source:
                      type: string
                      enum: [cli, sdk, daemon, web]
                    event:
                      type: string
                      enum: [command, connection, callback, queue, update, page_view, request, web_error]
                    success: {type: boolean}
                    duration_ms: {type: integer, minimum: 0, maximum: 604800000}
      responses:
        '204': {description: Diagnostic accepted or opted out}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/iam:
    get:
      tags: [Auth]
      operationId: iamInformation
      summary: Discover the public IAM application configuration
      security: []
      description: Available before login. Returns only public identifiers and URLs, never application secrets.
      parameters:
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Public application configuration
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: iam}
                  data:
                    type: object
                    required: [app_id, iam_base_url, api_base_url, delivery]
                    properties:
                      app_id: {type: string}
                      iam_base_url: {type: string, format: uri}
                      api_base_url: {type: string, format: uri}
                      delivery: {$ref: '#/components/schemas/DeliveryDiscovery'}
                      testing_environment_id:
                        type: [string, 'null']
                        format: uuid
                      testing_generation:
                        type: [integer, 'null']
                      testing_environment:
                        type: [object, 'null']
                        additionalProperties: true
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/ws:
    get:
      tags: [Delivery]
      operationId: retiredMemberSocket
      summary: Retired DM socket endpoint
      deprecated: true
      security: []
      description: Returns 410 delivery_moved_to_ting without upgrading, including for old protocol headers. Enroll through DM delivery registration, receive Ting updates, and recover through DM HTTP sync. This route no longer authenticates socket subscriptions.
      responses:
        '410':
          description: Delivery moved to Ting; use the returned discovery paths.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/DeliveryRetirement'}
  /api/v1/conversations/{conversation_id}/messages:
    get:
      tags: [Messages]
      operationId: listMessages
      summary: List durable conversation messages
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/ConversationId'}
        - {$ref: '#/components/parameters/Cursor'}
        - {$ref: '#/components/parameters/Limit'}
        - name: include_bundled_members
          in: query
          schema: {type: boolean, default: false}
          description: Include original messages hidden behind bundle display messages
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Messages in stable sequence order
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: messages}
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items: {$ref: '#/components/schemas/Message'}
                      next_cursor:
                        type: [string, 'null']
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
    post:
      tags: [Messages]
      operationId: sendMessage
      summary: Durably accept and queue a message
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/ConversationId'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/TestingKey'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: message.create}
                data: {$ref: '#/components/schemas/MessageCreate'}
      responses:
        '202':
          description: Message durably accepted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: message.create.successful}
                  data: {$ref: '#/components/schemas/Message'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/conversations/{conversation_id}/messages/{message_id}/receipts:
    post:
      tags: [Messages]
      operationId: recordMessageReceipt
      summary: Record a monotonic device receipt
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/ConversationId'}
        - name: message_id
          in: path
          required: true
          schema: {$ref: '#/components/schemas/MessageReference'}
        - {$ref: '#/components/parameters/TestingKey'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: receipt}
                data:
                  type: object
                  required: [status, device_id]
                  properties:
                    status:
                      type: string
                      enum: [delivered, read]
                    device_id: {type: string, minLength: 1, maxLength: 255, pattern: '^[^\u0000-\u001F\u007F]{1,255}$'}
      responses:
        '200':
          description: Aggregate receipt state
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: receipt}
                  data: {$ref: '#/components/schemas/Message'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/conversations/{conversation_id}/bundles:
    post:
      tags: [Bundles]
      operationId: createMessageBundle
      summary: Bundle existing messages behind one display message
      description: Only an authenticated Silicon may create a bundle. The operation is non-destructive; each original message remains stored and records
        the created bundle ID.
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/ConversationId'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/TestingKey'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: create_bundle}
                data: {$ref: '#/components/schemas/BundleCreate'}
      responses:
        '201':
          description: Bundle and display message created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: create_bundle}
                  data: {$ref: '#/components/schemas/Bundle'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/conversations/{conversation_id}/bundles/{bundle_id}:
    get:
      tags: [Bundles]
      operationId: getMessageBundle
      summary: Retrieve a bundle and its original messages
      description: Expanded message payloads are limited to 128 MiB in aggregate. One individually legal oversized message is allowed when all remaining
        message payloads total at most 16 MiB. Larger expansions return 413 response_too_large; retrieve originals individually by message ID.
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/ConversationId'}
        - name: bundle_id
          in: path
          required: true
          schema: {$ref: '#/components/schemas/BundleCode'}
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Bundle with display and original messages
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: bundle}
                  data: {$ref: '#/components/schemas/BundleDetail'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/conversations/{conversation_id}/draft:
    get:
      tags: [Drafts]
      operationId: getDraft
      summary: Get the current member's draft
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/ConversationId'}
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Current member's synchronized draft
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: draft}
                  data: {$ref: '#/components/schemas/Draft'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {description: No draft}
        default: {$ref: '#/components/responses/Error'}
    put:
      tags: [Drafts]
      operationId: putDraft
      summary: Create or conditionally replace a draft
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/ConversationId'}
        - name: If-Match
          in: header
          schema: {type: integer, minimum: 0}
          description: Exact last observed draft version. Omit or send 0 only when creating a draft that does not yet exist. Versions continue increasing
            across deletion and automatic clearing; use the returned version for the next save.
        - {$ref: '#/components/parameters/TestingKey'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: put_draft}
                data: {$ref: '#/components/schemas/DraftInput'}
      responses:
        '200':
          description: Draft stored
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: put_draft}
                  data: {$ref: '#/components/schemas/Draft'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '409':
          description: Version conflict (draft_conflict). Returns an error code and recovery message alongside the current draft when one exists, or an error envelope when it was deleted after the supplied version
            was observed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: error}
                  data:
                    anyOf:
                      - allOf:
                          - {$ref: '#/components/schemas/Draft'}
                          - {$ref: '#/components/schemas/Error'}
                      - {$ref: '#/components/schemas/Error'}
        default: {$ref: '#/components/responses/Error'}
    delete:
      tags: [Drafts]
      operationId: deleteDraft
      summary: Delete the current member's draft
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/ConversationId'}
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '204': {description: Draft deleted}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/presence/{member_id}:
    get:
      tags: [Presence]
      operationId: getPresence
      summary: Get an authorized member's presence
      security:
        - bearerAuth: []
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - name: member_id
          in: path
          required: true
          schema: {type: string}
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Presence
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: presence}
                  data: {$ref: '#/components/schemas/Presence'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/gifs/trending:
    get:
      tags: [GIFs]
      operationId: listTrendingGifs
      summary: List safe trending GIFs
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Trending Giphy results
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: gifs}
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items: {$ref: '#/components/schemas/Gif'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/gifs/search:
    get:
      tags: [GIFs]
      operationId: searchGifs
      summary: Search safe GIF results
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - name: q
          in: query
          required: true
          schema: {type: string, minLength: 1, maxLength: 50, pattern: '^[^\u0000-\u001F\u007F]{1,50}$'}
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Giphy results
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: gifs}
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items: {$ref: '#/components/schemas/Gif'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/gifs/recent:
    get:
      tags: [GIFs]
      operationId: listRecentGifs
      summary: List the current Carbon's recent GIFs
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Current Carbon's last 20 GIFs
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: gifs}
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        maxItems: 20
                        items: {$ref: '#/components/schemas/Gif'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/auth/login:
    post:
      tags: [Auth]
      operationId: login
      summary: Exchange an organization-bound IAM SLT
      security: []
      parameters:
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/TestingKey'}
      description: Maximum JSON body 16 KiB. No separate Bearer/X-Org-ID header required. Repeat the exact body with the same Idempotency-Key after an uncertain
        result. Credentials and backend app secrets must never be logged. The returned session is live-verified by IAM and has no-store/no-cache response
        headers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: login}
                data: {$ref: '#/components/schemas/LoginInput'}
      responses:
        '200':
          description: Verified application session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: login}
                  data: {$ref: '#/components/schemas/ApplicationSession'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      operationId: refreshSession
      summary: Rotate a DM application refresh token
      security: []
      parameters:
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/TestingKey'}
      description: Maximum JSON body 16 KiB. No separate Bearer/X-Org-ID header required. Repeat the exact body with the same Idempotency-Key after an uncertain
        result. Credentials and backend app secrets must never be logged. The returned session is live-verified by IAM and has no-store/no-cache response
        headers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: refresh}
                data: {$ref: '#/components/schemas/RefreshInput'}
      responses:
        '200':
          description: Verified application session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: refresh}
                  data: {$ref: '#/components/schemas/ApplicationSession'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/auth/logout:
    post:
      tags: [Auth]
      operationId: logout
      summary: Revoke one application token or refresh family
      security: []
      parameters:
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/TestingKey'}
      description: Maximum JSON body 16 KiB. No separate Bearer/X-Org-ID header required. Repeat the exact body with the same Idempotency-Key after an uncertain
        result. Credentials and backend app secrets must never be logged. Use the current refresh token for full-family logout; an access token revokes
        only itself.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: logout}
                data: {$ref: '#/components/schemas/LogoutInput'}
      responses:
        '204': {description: Token revoked}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/auth/me:
    get:
      tags: [Auth]
      operationId: currentIdentity
      summary: Get current IAM identity and effective authority
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Live introspected identity
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: me}
                  data: {$ref: '#/components/schemas/Identity'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /api/v1/conversations/{conversation_id}/messages/{message_id}:
    get:
      tags: [Messages]
      operationId: getMessage
      summary: Get a message and its content and edit history
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/ConversationId'}
        - {$ref: '#/components/parameters/MessageId'}
        - {$ref: '#/components/parameters/TestingKey'}
      responses:
        '200':
          description: Latest message or deletion tombstone
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: message}
                  data: {$ref: '#/components/schemas/Message'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
    patch:
      tags: [Messages]
      operationId: editMessage
      summary: Replace an authored message with optimistic concurrency
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/ConversationId'}
        - {$ref: '#/components/parameters/MessageId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/MessageVersion'}
      responses:
        '200':
          description: Latest message or deletion tombstone
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: message.updated}
                  data: {$ref: '#/components/schemas/Message'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
        '409':
          description: Version or idempotency conflict; fetch latest Message
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: error}
                  data: {$ref: '#/components/schemas/Error'}
      description: Only the sender can change the message. Idempotency keys prevent duplicate retries. Edits serialize in arrival order and preserve the
        previous content in history; deletion sets deleted_at without adding history. Deleted messages cannot be edited.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: message.updated}
                data: {$ref: '#/components/schemas/MessageCreate'}
    delete:
      tags: [Messages]
      operationId: deleteMessage
      summary: Publish an authored message deletion tombstone
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/ConversationId'}
        - {$ref: '#/components/parameters/MessageId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/MessageVersion'}
      responses:
        '200':
          description: Latest message or deletion tombstone
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: message.deleted}
                  data: {$ref: '#/components/schemas/Message'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
        '409':
          description: Version or idempotency conflict; fetch latest Message
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: error}
                  data: {$ref: '#/components/schemas/Error'}
      description: Only the sender can change the message. Idempotency keys prevent duplicate retries. Edits serialize in arrival order and preserve the
        previous content in history; deletion sets deleted_at without adding history. Deleted messages cannot be edited.
  /api/v1/testing-environments:
    get:
      tags: [Testing]
      operationId: listTestingEnvironments
      summary: List environments owned by production organization
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - name: include_deleted
          in: query
          schema: {type: boolean, default: false}
      responses:
        '200':
          description: List environments owned by production organization
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: testing_environments}
                  data: {$ref: '#/components/schemas/TestingEnvironmentList'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
      description: Lifecycle authority uses a production IAM application session. The DM test key does not bypass production management authorization. Creator
        or current organization administrator required for changes/key access; any current member may create/list/read environments.
    post:
      tags: [Testing]
      operationId: createTestingEnvironment
      summary: Create a DM environment paired with an imported IAM test app
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      responses:
        '201':
          description: Create a DM environment paired with an imported IAM test app
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: create_testing_environment}
                  data: {$ref: '#/components/schemas/TestingEnvironmentWithKey'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
      description: Lifecycle authority uses a production IAM application session. The DM test key does not bypass production management authorization. Creator
        or current organization administrator required for changes/key access; any current member may create/list/read environments. Import the canonical
        DM application through IAM CLI first, supplying its fresh test-only app secret. IAM production cannot back a DM test environment. Idempotency-Key
        is required. Exact request replays return the original result; changed body or target with the same key returns409. Responses use Cache-Control:no-store.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: create_testing_environment}
                data: {$ref: '#/components/schemas/TestingEnvironmentCreate'}
  /api/v1/testing-environments/{environment_id}:
    get:
      tags: [Testing]
      operationId: getTestingEnvironment
      summary: Read environment metadata
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/EnvironmentId'}
      responses:
        '200':
          description: Read environment metadata
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: testing_environment}
                  data: {$ref: '#/components/schemas/TestingEnvironment'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
      description: Lifecycle authority uses a production IAM application session. The DM test key does not bypass production management authorization. Creator
        or current organization administrator required for changes/key access; any current member may create/list/read environments.
    patch:
      tags: [Testing]
      operationId: updateTestingEnvironment
      summary: Update environment name or description
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/EnvironmentId'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      responses:
        '200':
          description: Update environment name or description
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: update_testing_environment}
                  data: {$ref: '#/components/schemas/TestingEnvironment'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
      description: Lifecycle authority uses a production IAM application session. The DM test key does not bypass production management authorization. Creator
        or current organization administrator required for changes/key access; any current member may create/list/read environments. Idempotency-Key is
        required. Exact request replays return the original result; changed body or target with the same key returns409. Responses use Cache-Control:no-store.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: update_testing_environment}
                data: {$ref: '#/components/schemas/TestingEnvironmentUpdate'}
    delete:
      tags: [Testing]
      operationId: deleteTestingEnvironment
      summary: Delete environment with 30-day recovery window
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/EnvironmentId'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      responses:
        '204': {description: Delete environment with 30-day recovery window}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
      description: Lifecycle authority uses a production IAM application session. The DM test key does not bypass production management authorization. Creator
        or current organization administrator required for changes/key access; any current member may create/list/read environments. Idempotency-Key is
        required. Exact request replays return the original result; changed body or target with the same key returns409. Responses use Cache-Control:no-store.
  /api/v1/testing-environments/{environment_id}/key:
    get:
      tags: [Testing]
      operationId: getTestingEnvironmentKey
      summary: Retrieve current test root key
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/EnvironmentId'}
      responses:
        '200':
          description: Retrieve current test root key
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: testing_environment_key}
                  data: {$ref: '#/components/schemas/TestingEnvironmentKey'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
      description: Lifecycle authority uses a production IAM application session. The DM test key does not bypass production management authorization. Creator
        or current organization administrator required for changes/key access; any current member may create/list/read environments.
  /api/v1/testing-environments/{environment_id}/rotate-key:
    post:
      tags: [Testing]
      operationId: rotateTestingEnvironmentKey
      summary: Rotate root key and disconnect existing sessions
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/EnvironmentId'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      responses:
        '200':
          description: Rotate root key and disconnect existing sessions
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: rotate_testing_environment_key}
                  data: {$ref: '#/components/schemas/TestingEnvironmentWithKey'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
      description: Lifecycle authority uses a production IAM application session. The DM test key does not bypass production management authorization. Creator
        or current organization administrator required for changes/key access; any current member may create/list/read environments. Idempotency-Key is
        required. Exact request replays return the original result; changed body or target with the same key returns409. Responses use Cache-Control:no-store.
  /api/v1/testing-environments/{environment_id}/restore:
    post:
      tags: [Testing]
      operationId: restoreTestingEnvironment
      summary: Recover retained data with a fresh root key
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/EnvironmentId'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      responses:
        '200':
          description: Recover retained data with a fresh root key
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: restore_testing_environment}
                  data: {$ref: '#/components/schemas/TestingEnvironmentWithKey'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
      description: Lifecycle authority uses a production IAM application session. The DM test key does not bypass production management authorization. Creator
        or current organization administrator required for changes/key access; any current member may create/list/read environments. Idempotency-Key is
        required. Exact request replays return the original result; changed body or target with the same key returns409. Responses use Cache-Control:no-store.
  /api/v1/testing-environments/{environment_id}/clean:
    post:
      tags: [Testing]
      operationId: cleanTestingEnvironment
      summary: Erase test data while retaining environment and key
      parameters:
        - name: X-Org-ID
          in: header
          required: false
          schema: {type: string}
          description: Required when using production bearer authorization; unnecessary with test root key.
        - {$ref: '#/components/parameters/EnvironmentId'}
        - {$ref: '#/components/parameters/TestingKey'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
      responses:
        '204': {description: Erase test data while retaining environment and key}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
      description: Authorize with this environment root key alone, or creator/admin production IAM session. The path ID and key must match. Removes all
        message, draft, delivery, receipt, presence and webhook-receipt rows; retains environment metadata/key. Other environments and production are unchanged.
        Idempotency-Key is required. Exact request replays return the original result; changed body or target with the same key returns409. Responses use
        Cache-Control:no-store.
      security:
        - bearerAuth: []
        - testingEnvironmentKey: []
  /webhook/:
    post:
      tags: [IAM webhooks]
      operationId: receiveIamWebhook
      summary: Receive signature-authenticated IAM events
      security: []
      description: Backend-to-backend IAM callback. Exactly one of each signature header is required. Official SDK verifies exact bytes, five-minute signing-time
        tolerance, key version, event identity and 1 MiB limit. Test envelopes are verified before matching the IAM key to an active DM test environment.
        Root keys and raw bodies are never persisted. Duplicate event IDs are safe. Successful receipt durably prompts connected token revalidation; IAM
        remains authoritative. A bounded redacted test-key hint selects candidates; exact SDK signature and environment binding are verified before initializing
        runtimes. One authenticated IAM test event invalidates all active DM environments paired to that IAM realm, including inherited/overridden signer
        versions. Invalid signatures cannot initialize a testing runtime.
      parameters:
        - name: X-Silicon-IAM-Event-ID
          in: header
          required: true
          schema: {type: string}
        - name: X-Silicon-IAM-Timestamp
          in: header
          required: true
          schema: {type: string}
        - name: X-Silicon-IAM-Key-Version
          in: header
          required: true
          schema: {type: string}
        - name: X-Silicon-IAM-Signature
          in: header
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema: {type: object, additionalProperties: true, description: Exact IAM production event or signed testing envelope; see official IAM WebhookEvent
                contract.}
      responses:
        '204': {description: Verified event committed or duplicate acknowledged}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
  /live:
    get:
      tags: [Operations]
      operationId: live
      security: []
      summary: Process liveness
      responses:
        '204': {description: Ready}
        '503': {description: Dependency or migration unavailable}
  /ready:
    get:
      tags: [Operations]
      operationId: ready
      security: []
      summary: Database and migration readiness
      responses:
        '204': {description: Ready}
        '503': {description: Dependency or migration unavailable}
  /api/v1/messages:
    post:
      tags: [Messages]
      operationId: sendToRecipient
      summary: Send to an authorized recipient without a conversation ID
      parameters:
        - {$ref: '#/components/parameters/OrgId'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/TestingKey'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [type, data]
              properties:
                type: {type: string, const: message.create}
                data: {$ref: '#/components/schemas/MessageCreate'}
      responses:
        '202':
          description: Message durably accepted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [type, data]
                properties:
                  type: {type: string, const: message.create.successful}
                  data: {$ref: '#/components/schemas/Message'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        default: {$ref: '#/components/responses/Error'}
components:
  securitySchemes:
    honeycombService: {type: http, scheme: bearer, description: 'Dedicated Honeycomb service credential, independent of test sessions.'}
    bearerAuth: {type: http, scheme: bearer, bearerFormat: IAM application access token (oat_)}
    testingEnvironmentKey:
      type: apiKey
      in: header
      name: X-Testing-Environment-Key
      description: 32-character DM testing root key. Selects an isolated data plane; normal actions still require its IAM user session.
  parameters:
    TestingGeneration:
      name: X-Testing-Environment-Generation
      in: header
      required: false
      schema: {type: integer, minimum: 1}
      description: Required for writes in a Honeycomb testing environment. Obtain from /api/v1/iam; stale generations fail with 409.
    OrgId:
      name: X-Org-ID
      in: header
      required: true
      schema: {type: string}
    ConversationId:
      name: conversation_id
      in: path
      required: true
      schema: {$ref: '#/components/schemas/ConversationAddress'}
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: {type: string, minLength: 8, maxLength: 255, pattern: '^[!-~]{8,255}$'}
    Cursor:
      name: cursor
      in: query
      schema: {type: string}
    Limit:
      name: limit
      in: query
      schema: {type: integer, minimum: 1, maximum: 100, default: 50}
    TestingKey:
      name: X-Testing-Environment-Key
      in: header
      required: false
      schema: {type: string, pattern: '^(ask_[A-Za-z0-9_-]{43}|[A-Za-z0-9]{32})$'}
      description: IAM test app secret for automatic discovery, or a legacy DM root key. Omit for production. Never send the IAM environment root key.
    EnvironmentId:
      name: environment_id
      in: path
      required: true
      schema: {type: string, format: uuid}
    MessageId:
      name: message_id
      in: path
      required: true
      schema: {$ref: '#/components/schemas/MessageReference'}
    MessageVersion:
      name: If-Match
      in: header
      required: true
      schema: {type: string, pattern: '^"?[1-9][0-9]*"?$'}
      description: Exact observed positive message version, e.g. "1". PATCH replaces all message content. Missing/invalid versions are 422; a stale version
        is 409.
  responses:
    Error:
      description: Error
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required: [type, data]
            properties:
              type: {type: string, const: error}
              data: {$ref: '#/components/schemas/Error'}
    Unauthorized:
      description: Authentication credentials are missing or invalid
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required: [type, data]
            properties:
              type: {type: string, const: error}
              data: {$ref: '#/components/schemas/Error'}
  schemas:
    DeliveryDiscovery:
      type: object
      required: [transport, app_id, api_base_url, browser_origin, receiver_authentication, publisher_authority, registration_path, sync_path, presence_path, receipts_path, dm_websocket_supported]
      properties:
        transport: {type: string, const: ting}
        app_id: {type: string, const: 'ting'}
        api_base_url: {type: string, format: uri}
        browser_origin: {type: string, format: uri, const: 'https://ting.teamofsilicons.com'}
        receiver_authentication: {type: string, const: ting_session}
        publisher_authority: {type: string, const: originating_dm_session}
        registration_path: {type: string, const: /api/v1/delivery/registration}
        sync_path: {type: string, const: /api/v1/sync}
        presence_path: {type: string, const: '/api/v1/presence/devices/{device_id}'}
        receipts_path: {type: string, const: '/api/v1/conversations/{conversation_id}/messages/{message_id}/receipts'}
        dm_websocket_supported: {type: boolean, const: false}
    DeliveryRetirement:
      type: object
      required: [type, data]
      properties:
        type: {type: string, const: error}
        data:
          type: object
          required: [error, delivery]
          properties:
            error:
              type: object
              required: [code, message]
              properties:
                code: {type: string, const: delivery_moved_to_ting}
                message: {type: string}
            delivery: {$ref: '#/components/schemas/DeliveryDiscovery'}
    TingSubscription:
      type: object
      required: [id, app_id, for, active]
      properties:
        id: {type: string, description: Opaque Ting subscription identifier.}
        app_id: {type: string, example: 'dm'}
        for: {type: string, description: Authenticated recipient's canonical public ID.}
        active: {type: boolean, const: true}
    SyncEvent:
      type: object
      required: [event_id, sequence, type, conversation_id, message_id]
      properties:
        event_id: {type: string, format: uuid, description: Stable DM event identity; deduplicate independently of Ting IDs.}
        sequence: {type: integer, format: int64, minimum: 1}
        type: {type: string, enum: [message, message_status]}
        conversation_id: {$ref: '#/components/schemas/ConversationAddress'}
        message_id: {$ref: '#/components/schemas/MessageReference'}
    SyncPage:
      type: object
      required: [events, cursor, has_more, upper_sequence, testing_environment_id, testing_generation]
      properties:
        events: {type: array, maxItems: 100, items: {$ref: '#/components/schemas/SyncEvent'}}
        cursor: {type: string, description: Opaque authenticated cursor; retain it even on an empty page.}
        has_more: {type: boolean}
        upper_sequence: {type: integer, format: int64, minimum: 0, description: Fixed upper boundary while paging this scan.}
        testing_environment_id: {type: [string, 'null'], format: uuid}
        testing_generation: {type: [integer, 'null'], minimum: 1}
    PresenceLease:
      type: object
      required: [presence, lease_expires_at, activity_expires_at]
      properties:
        presence: {$ref: '#/components/schemas/Presence'}
        lease_expires_at: {type: string, format: date-time}
        activity_expires_at: {type: [string, 'null'], format: date-time}
    HoneycombOperation:
      type: object
      additionalProperties: false
      required: [operation_id, environment_id, org_id, app_id, environment_revision, generation, key_version, action, testing_key]
      properties:
        operation_id: {type: string, format: uuid}
        environment_id: {type: string, format: uuid}
        org_id: {type: string, minLength: 1, maxLength: 128}
        app_id: {type: string}
        environment_revision: {type: integer, minimum: 1}
        generation: {type: integer, minimum: 1}
        key_version: {type: integer, minimum: 1}
        action:
          type: string
          enum: [prepare, import, refresh-import, rotate-key, clean, disable, restore, purge, retire-applications]
        testing_key: {type: string, pattern: '^[A-Za-z0-9]{32}$', writeOnly: true}
        name:
          type: [string, 'null']
          minLength: 1
          maxLength: 128
        description:
          type: [string, 'null']
          maxLength: 4096
        snapshot: {}
        reason: {type: string}
        retired_apps:
          type: array
          items: {type: string}
    HoneycombReceipt:
      type: object
      required: [operation_id, environment_id, app_id, environment_revision, generation, key_version, state, retired_apps]
      properties:
        operation_id: {type: string, format: uuid}
        environment_id: {type: string, format: uuid}
        app_id: {type: string}
        environment_revision: {type: integer, minimum: 1}
        generation: {type: integer, minimum: 1}
        key_version: {type: integer, minimum: 1}
        state:
          type: string
          enum: [pending, completed, failed]
        target_state: {type: string, description: 'Intended local state, present in pending and failed receipts.'}
        retired_apps:
          type: array
          items: {type: string}
    ConversationAddress:
      type: string
      description: Immutable direct address, ordered Carbon before Silicon then lexically, or g:org:group-slug. UUID aliases remain accepted. Conversation
        routes also accept an authorized recipient account, resolving or creating the direct chat on send. Scope all addresses by organization and testing
        environment.
      examples: ['saket::cos:tos', 'g:tos:team']
    GroupSettings:
      type: object
      required: [name]
      properties:
        name: {type: string, minLength: 1, maxLength: 120}
        description: {type: string, maxLength: 4000, default: ''}
        is_public: {type: boolean, default: false}
        tag_ids:
          type: array
          maxItems: 100
          items: {type: string, format: uuid}
          default: []
    GroupCreate:
      type: object
      required: [name]
      properties:
        name: {type: string, minLength: 1, maxLength: 120}
        description: {type: string, maxLength: 4000, default: ''}
        is_public: {type: boolean, default: false}
        tag_ids:
          type: array
          maxItems: 100
          items: {type: string, format: uuid}
          default: []
        member_ids:
          type: array
          maxItems: 100
          items: {type: string}
          default: []
    GroupDetails:
      type: object
      required: [name, description, is_public, tag_ids, version, invited_members]
      properties:
        name: {type: string, minLength: 1, maxLength: 120}
        description: {type: string, maxLength: 4000, default: ''}
        is_public: {type: boolean, default: false}
        tag_ids:
          type: array
          maxItems: 100
          items: {type: string, format: uuid}
          default: []
        version: {type: integer, minimum: 1}
        invited_members:
          type: array
          items: {$ref: '#/components/schemas/MemberRef'}
    GroupMembers:
      type: object
      additionalProperties: false
      required: [member_ids]
      properties:
        member_ids:
          type: array
          maxItems: 100
          items: {type: string}
          default: []
    MemberRef:
      type: object
      required: [type, id]
      properties:
        type:
          type: string
          enum: [carbon, silicon]
        id:
          type: string
          description: IAM account ID.
          examples: [alice@example.com, 'si:assistant']
    Conversation:
      type: object
      required: [id, org_id, participants, created_at, updated_at]
      properties:
        group: {$ref: '#/components/schemas/GroupDetails'}
        id: {$ref: '#/components/schemas/ConversationAddress'}
        org_id: {type: string}
        participants:
          type: array
          minItems: 1
          items: {$ref: '#/components/schemas/MemberRef'}
        last_message:
          anyOf:
            - {$ref: '#/components/schemas/Message'}
            - {type: 'null'}
        created_at: {type: string, format: date-time}
        updated_at: {type: string, format: date-time}
    Attachment:
      type: object
      required: [permanent_url]
      properties:
        permanent_url:
          type: string
          format: uri
          maxLength: 8192
          pattern: ^https://(?![^/?#]*@)[^/?#]+(?:[/?#]|$)
          description: Credential-free HTTPS link, at most 8192 bytes. DM stores this link without contacting its host. No upload, proxy, or temporary-URL
            endpoint exists.
        name: {type: string, minLength: 1, maxLength: 1024}
        content_type: {type: string, minLength: 1, maxLength: 255}
        size: {type: integer, minimum: 0, maximum: 5368709120, description: Untrusted client-declared byte size.}
    VoiceAttachment:
      allOf:
        - {$ref: '#/components/schemas/Attachment'}
        - type: object
          required: [duration_milliseconds]
          properties:
            duration_milliseconds: {type: integer, minimum: 1, maximum: 172800000, description: 'Untrusted caller-supplied total playback duration, capped
                at 48 hours.'}
    StoredVoiceAttachment:
      allOf:
        - {$ref: '#/components/schemas/Attachment'}
        - type: object
          required: [duration_milliseconds]
          properties:
            duration_milliseconds:
              type: [integer, 'null']
              minimum: 1
              maximum: 172800000
              description: Total playback duration. Null is returned only for a historical pre-v 2 voice row whose provider did not supply duration metadata.
    Gif:
      type: object
      required: [provider_id, url]
      properties:
        provider_id: {type: string, minLength: 1, maxLength: 255}
        url: {type: string, format: uri, maxLength: 8192, pattern: '^https://'}
        preview_url: {type: string, format: uri, maxLength: 8192, pattern: '^https://'}
        title: {type: string, maxLength: 1000}
    MessageCreate:
      type: object
      properties:
        message: {type: string, maxLength: 100000000, default: ''}
        attachments:
          type: array
          maxItems: 100
          items: {$ref: '#/components/schemas/AttachmentLink'}
        voice_transcript:
          type: [string, 'null']
          maxLength: 100000000
        reply:
          anyOf:
            - type: object
              required: [message-id]
              properties:
                message-id: {$ref: '#/components/schemas/MessageReference'}
            - {type: 'null'}
        recipient_id: {type: string, description: Required for POST /messages; otherwise the path supplies the destination.}
        sender_id: {type: string, description: Explicit represented sender when authorized.}
      anyOf:
        - required: [message]
          properties:
            message: {minLength: 1}
        - required: [attachments]
          properties:
            attachments: {minItems: 1}
      description: Text, attachments, or both. Audio goes in attachments with optional voice_transcript. Supply only the referenced message-id for a reply;
        sender and quoted content come from the server. Legacy UUID references and old attachment objects remain accepted on input.
    Message:
      type: object
      additionalProperties: false
      required: [message-id, conversation_id, recipient_id, sender, message, attachments, voice_transcript, reply, bundle, created_at, updated_at, deleted_at,
        delivered_at, read_at, history]
      properties:
        message-id: {$ref: '#/components/schemas/MessageCode'}
        conversation_id: {$ref: '#/components/schemas/ConversationAddress'}
        recipient_id: {type: string, description: 'History: the destination account or group. Callback: the receiving account, including the sender copy.'}
        sender: {$ref: '#/components/schemas/MemberRef'}
        message:
          type: [string, 'null']
          maxLength: 100000000
        attachments:
          type: array
          maxItems: 100
          items: {$ref: '#/components/schemas/AttachmentLink'}
        voice_transcript:
          type: [string, 'null']
          maxLength: 100000000
        reply:
          anyOf:
            - {$ref: '#/components/schemas/Reply'}
            - {type: 'null'}
        bundle:
          anyOf:
            - {$ref: '#/components/schemas/BundleRef'}
            - {type: 'null'}
        created_at: {type: string, format: date-time}
        updated_at:
          type: [string, 'null']
          format: date-time
        deleted_at:
          type: [string, 'null']
          format: date-time
        delivered_at:
          type: [string, 'null']
          format: date-time
        read_at:
          type: [string, 'null']
          format: date-time
        history:
          type: array
          items: {$ref: '#/components/schemas/MessageHistoryEntry'}
          description: Previous content, oldest first. Empty initially; deletion adds no history entry. Deleted responses hide content history.
      description: Fixed current snapshot. All fields are present. Text is empty for attachment-only sends, null for tombstones. Upsert by conversation_id,
        message-id and updated_at. Delivery records may hydrate the current edited or deleted snapshot on replay.
    BundleRef:
      type: object
      required: [id, role]
      properties:
        id: {$ref: '#/components/schemas/BundleCode'}
        role:
          type: string
          enum: [display, member]
    BundleCreate:
      type: object
      required: [message_ids, display_message]
      properties:
        message_ids:
          type: array
          minItems: 1
          maxItems: 100
          uniqueItems: true
          items: {$ref: '#/components/schemas/MessageReference'}
        display_message: {$ref: '#/components/schemas/MessageCreate'}
    Bundle:
      type: object
      required: [id, conversation_id, original_message_ids, display_message, created_by, created_at]
      properties:
        id: {$ref: '#/components/schemas/BundleCode'}
        conversation_id: {$ref: '#/components/schemas/ConversationAddress'}
        original_message_ids:
          type: array
          minItems: 1
          maxItems: 100
          items: {$ref: '#/components/schemas/MessageReference'}
        display_message: {$ref: '#/components/schemas/Message'}
        created_by: {$ref: '#/components/schemas/MemberRef'}
        created_at: {type: string, format: date-time}
    BundleDetail:
      allOf:
        - {$ref: '#/components/schemas/Bundle'}
        - type: object
          required: [original_messages]
          properties:
            original_messages:
              type: array
              minItems: 1
              maxItems: 100
              items: {$ref: '#/components/schemas/Message'}
    DraftInput:
      type: object
      properties:
        message_content: {type: string, maxLength: 100000000}
        attachments:
          type: array
          maxItems: 100
          items: {$ref: '#/components/schemas/Attachment'}
[...]
